{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
<span class="text-uppercase page-subtitle">Report</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        {% if request.user.groups.all.0.name == "Warehouseman"%}
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'sitephotos'%}">Site Photos</a>
            </li>
        {% endif %}
        <li class="breadcrumb-item active" >
            Site Photos List
        </li>
    </ol>
</nav>
<div class="col-md-12 mx-auto">
    {% for message in messages %}
        <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
            {% if message.level_tag  == "success" %}
                <strong>Success! </strong>
            {% else %}
                <strong>Error! </strong>
            {% endif %}
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>
<div class="card">
    <div class="card-body">
    <h4 class="card-title">Site Photos List</h4>
        <div class="table-responsive">
            <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer col-lg-12">
                <table id="order-listing" class="table dataTable no-footer" role="grid" aria-describedby="order-listing_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting font-weight-bold" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                    aria-label="Project: activate to sort column ascending" style="width: 100px;">
                                    Project Site
                                </th>
                                <th class="sorting font-weight-bold"" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                    aria-label="Client: activate to sort column ascending" style="width: 50px;">
                                    Date
                                </th>
                                <th class="sorting font-weight-bold"" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                aria-label="Actions: activate to sort column ascending" style="width: 50px;">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in data%}
                            <tr role="row" class="odd">
                                <td>{{i.projectsite}}</td>
                                <td>{{i.date}}</td>
                                <td><a href="{% url 'sitephotos_detail' i.id%}" class="btn btn-outline-primary">view</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
