{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
{% load humanize %}
<span class="text-uppercase page-subtitle">Reports</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        {% if request.user.groups.all.0.name == "Warehouseman"%}
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'sitephotos'%}">Site Photos</a>
            </li>
        {% endif %}
        <li class="breadcrumb-item">
            {% if request.user.groups.all.0.name == "Project Manager"%}
                <a href="{% url 'sitephotos_list_pm' %}">Site Photos</a>
            {% elif request.user.groups.all.0.name == "Person In-Charge"%}
                <a href="{% url 'sitephotos_list_pic'%}">Site Photos</a>
            {% elif request.user.groups.all.0.name == "Warehouseman"%}
                <a href="{% url 'sitephotos_list_whm'%}">Site Photos</a>
            {% else %}
                <a href="{% url 'sitephotos_list'%}">Site Photos</a>
            {% endif %}
        </li>
    </ol>
</nav>
<div class="col-md-12 mx-auto">
    {% for message in messages %}
        <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
            {% if message.level_tag  == "success" %}
                <strong>Success! </strong>
            {% else %}
                <strong>Error! </strong>
            {% endif %}
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>

    <div class="row justify-content-center">
        <div class="col col-md-12">
            <div class="card">
                <div class="card-header" id="quotation_view">
                    <h2 class="mb-0">Site Photos</h2>
                </div>
                <div class="card-body">
                    <div class="row"> 
                        <div class = "col-md-9">
                            <h6>Project Site: <span class="txt">{{data.projectsite}}</span></h6>
                        </div>
                        <div class="col-md-3">
                            <h6>Date Created: <span class="txt">{{data.date}}</span></h6>
                        </div>
                    </div>
                    <form action="" method="post">
                        <div class="col-md-12 table-responsive">
                            {% csrf_token%}
                            <table class="table mt-4 ">
                                <thead>
                                    <tr>
                                        <th class="text-center font-weight-bold">Image</th>
                                        <th class="text-center font-weight-bold">Reveal this to Client?</th>
                                        <th class="text-center font-weight-bold">Delete this Image?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ formset.management_form }}
                                        {% for i in formset.forms %}
                                        {{i.id}}
                                        <tr>
                                            <td class="text-center">
                                                <div class="div-tbl-img">
                                                    {% if i.image %}
                                                    <img src="{{i.image.value.url}}" class="rounded table-img img-fluid p-3 mx-auto d-block" width="100%">
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                {{i.reveal}}
                                            </td>
                                            <td class="text-center">{{i.DELETE}}</td>
                                        </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <button type="button" id="sbmt-modal" class="btn btn-outline-primary btn-rounded" style="float:right" data-toggle="modal" data-target="#exampleModal-2">Update</button>
                        <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel-2">Confirmation</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to update this form?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-outline-primary" >Submit</button>
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript%}
{% endblock %}
