{%extends 'backoffice/index.html'%}
{%load static%}
{%load crispy% }
{%load crispy_forms_tags%}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        <li class="breadcrumb-item">
            <a href="{% url 'issues_list'%}">Project Issues List</a>
        </li>
        {% if request.user.groups.all.0.name == "Warehouseman"%}
        <li class="breadcrumb-item">
            <a href="{% url 'issues'%}">Project Issues Form</a>
        </li>
        {% endif %}
    </ol>
</nav>
<div class="col-md-10 m-auto">
    <div class="card card-form">
        <div class="card-header" id="quotation_view">
            <h2 class="mb-0">Daily Report</h2>
        </div>
        <div class="card-body">
            <div class="row"> 
                <div class = "col-md-8">
                    <h6 class="sub">Project Site: <span class="txt">{{data.projectsite}}</span></h6>
                </div>
                <div class="col-md-4 ">
                    <h6 class="sub">Date Created: <span class="txt">{{data.date}}</span></h6>
                </div>
                <div class="col-md-8 mb-3">
                    <h6 class="sub">Prepared by: <span class="txt">{{data.whm}}</span></h6>
                </div>
                <div class="col-md-4 mb-3">
                    <h6 class="sub">Send To: <span class="txt">{{data.pic}}</span></h6>
                </div>
            </div>
            <div class="form-group col-md-10 mx-auto">
                <div class="form-group">
                    <label class="font-weight-bold">Description</label>
                    <textarea class="form-control " name="" id="" cols="50" rows="10" readonly="">{{data.description}}</textarea>
                </div>
            </div>
        </div>
        {% if request.user.groups.all.0.name == "Warehouseman"%}
            <div class="btn-grp mb-5">
                <a href="{% url 'issues_delete' data.id%}" class="btn btn-outline-danger float-right mr-5">Delete</a>
                <a href="{% url 'issues_update' data.id%}" class="btn btn-outline-primary float-right mr-3">Edit</a>
            </div>
        {% endif %}
    </div>
</div>

{%endblock%}