{%extends 'backoffice/index.html'%}
{%load static%}
{%load crispy% }
{%load crispy_forms_tags%}
{% block content %}
<form action="" method="POST" id="">
    {% csrf_token%}   
    <div class="card">
        <div class="card-header" id="card_header_content">
            <h3 style="text-align: center;">Project Issues Form</h3>
        </div>
        <div class="card-body">
            <div class="col-lg-12">
                <div class="row justify-content-center">
                    <div class="form-group col-md-8">
                        {{form.projectsite|as_crispy_field}} 
                    </div>
                    <div class="form-group col-md-4">
                        {{form.date|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-12">
                        <td>{{form.description|as_crispy_field}}</td>
                    </div>
                    <div class="form-group col-md-4">
                        {{form.whm|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-4"> 
                    </div>
                    <div class="form-group col-md-4">
                        {{form.pic|as_crispy_field}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                </div>
            </div>
            <button type="submit" class="btn btn-outline-primary" style="float:right">Submit</button>
        </div>
    </div>
</form>
{%endblock%}