{%extends 'backoffice/index.html'%}
{%load static%}
{%load crispy% }
{%load crispy_forms_tags%}
{% block content %}
<span class="text-uppercase page-subtitle">Report</span>
<div class="col-md-8 m-auto">
    <form action="" method="POST" id="" >
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">ProjectSite Report</h4>
                <form action="{% url 'weeklyreport'%}" method="GET">
                    {% csrf_token%}
                    <div class="row">
                        <div class="col-md-12">
                            {{form|crispy}}
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="datefrom">From</label>
                                <input type="text" class="form-control dateinput" name="datefrom" id="datefrom" aria-describedby="helpId" placeholder="">
                                <small id="helpId" class="form-text text-muted">Format: YYYY-MM-DD</small>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="dateto">To</label>
                                <input type="text" class="form-control dateinput" name="dateto" id="dateto" aria-describedby="helpId" placeholder="">
                                <small id="helpId" class="form-text text-muted">Format: YYYY-MM-DD</small>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-outline-primary mt-4">Generate</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>
</div>
{%endblock%}
{% block javascript %}
{% endblock %}