{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
{% load humanize %}
<span class="text-uppercase page-subtitle">Project Task</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        <li class="breadcrumb-item">
            {% if request.user.groups.all.0.name == "Project Manager"%}
                <a href="{% url 'rework_create'%}">Rework List</a>
            {% elif request.user.groups.all.0.name == "Person In-Charge"%}
                <a href="{% url 'rework_list_pic'%}">Rework List</a>
            {% else %}
                <a href="{% url 'rework_list'%}">Rework List</a>
            {% endif %}
        </li>
    </ol>
</nav> 
<div class="col-md-12 mx-auto">
    {% for message in messages %}
        <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
            {% if message.level_tag  == "success" %}
                <strong>Success! </strong>
            {% else %}
                <strong>Error! </strong>
            {% endif %}
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-10">
            <div class="card">
                <div class="card-header" id="quotation_view">
                    <h2 class="mb-0">Rework</h2>
                </div>
                <div class="card-body">
                    <div class="row"> 
                        <div class = "col-md-8">
                            <h6 class="sub">Project: <span class="txt">{{data.project}}</span></h6>
                        </div>
                        <div class="col-md-4 ">
                            <h6 class="sub">Date Created: <span class="txt">{{data.date}}</span></h6>
                        </div>
                        <div class = "col-md-12">
                            <h6 class="sub">Prepared by: <span class="txt">{{data.pm}}</span></h6>
                        </div>
                        <div class="col-lg-12 mx-auto">
                            <div class="accordion basic-accordion" id="accordion" role="tablist">
                                <div class="card">
                                    <div class="card-header border-0" role="tab" id="headingOne">
                                        <h6>
                                        <a data-toggle="collapse" href="#instruction" aria-expanded="false" aria-controls="collapseOne" class="collapsed req_accordion">
                                            <i class="card-icon mdi mdi-clipboard-outline"></i>Instruction</a>
                                        </h6>
                                    </div>
                                    <div id="instruction" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="col-lg-10 mx-auto">
                                            <textarea name="instruction" cols="40" rows="10" class="textarea form-control mt-3 mb-3" required="" id="id_instruction" readonly>{{data.instruction}}</textarea>
                                            {% if request.user.groups.all.0.name == "Admin" or request.user.groups.all.0.name == "Project Manager"%}
                                                <a href="{% url 'rework_update' data.id%}" class="btn btn-outline-primary float-right mb-3">Edit Instruction</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% if data2 %}
                                <div class="card">
                                    <div class="card-header border-0" role="tab" id="headingOne">
                                        <h6>
                                        <a data-toggle="collapse" href="#reworkbeforeimage" aria-expanded="false" aria-controls="collapseOne" class="collapsed req_accordion">
                                            <i class="card-icon mdi mdi-file-image"></i> Before </a>
                                        </h6>
                                    </div>
                                    <div class="card-body">
                                        <div id="reworkbeforeimage" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                            {% for i in data2 %}
                                                <img src="{{i.image.url}}" class="img-fluid rounded mx-auto d-block mb-3" alt="Responsive image">
                                            {% endfor %}
                                            {% if request.user.groups.all.0.name == "Admin" or request.user.groups.all.0.name == "Project Manager"%}
                                                <a href="{% url 'rework_before' data.id %}" class="btn btn-outline-primary float-right">Edit Before Image</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if data3 %}
                                <div class="card">
                                    <div class="card-header border-0" role="tab" id="headingOne">
                                        <h6>
                                        <a data-toggle="collapse" href="#reworkafterimage" aria-expanded="false" aria-controls="collapseOne" class="collapsed req_accordion">
                                            <i class="card-icon mdi mdi-file-image"></i> After </a>
                                        </h6>
                                    </div>
                                    <div class="card-body">
                                        <div id="reworkafterimage" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                            {% for i in data3 %}
                                                <img src="{{i.image.url}}" class="img-fluid rounded mx-auto d-block mb-3" alt="Responsive image">
                                            {% endfor %}
                                            {% if request.user.groups.all.0.name == "Admin" or request.user.groups.all.0.name == "Project Manager"%}
                                                <a href="{% url 'rework_after' data.id%}" class="btn btn-outline-primary float-right">Edit After Image</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-grp mb-5">
                {% if request.user.groups.all.0.name == "Admin" or request.user.groups.all.0.name == "Project Manager"%}
                    <a href="{% url 'rework_delete' data.id%}" class="btn btn-outline-danger float-right mr-5">Delete</a>
                {% endif %}
                {% if request.user.groups.all.0.name == "Person In-Charge" %}
                    <button type="button" class="btn btn-outline-primary float-right mr-4" data-toggle="modal" data-target="#reworkaddimage" >
                        Add After Image
                    </button>
                    <div class="modal fade" id="reworkaddimage" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content form-modal-content">
                                <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token%}
                                    <div class="modal-header form-modal-header">
                                        <h4 class="modal-title">Rework Form</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label for="">After Image: <span class="asteriskField">*</span> </label>
                                                <div class="custom-file">
                                                    {{form.image}}
                                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                                </div>
                                                <div id="preview"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-outline-primary" >Submit</button>
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $('#id_project').select2()
    $('#id_pm').prop('disabled', true);
    $('#id_date').prop('disabled', true);
    $('form').bind('submit', function () {
        $(this).find('#id_pm').prop('disabled', false);
        $(this).find('#id_date').prop('disabled', false);
        $(this).find(':submit').attr('disabled','disabled');
    });
    function previewImages() {  
        var $preview = $('#preview').empty();
        if (this.files) $.each(this.files, readAndPreview);
        function readAndPreview(i, file) {
            if (!/\.(jpe?g|png|gif|webp)$/i.test(file.name)){
                return alert(file.name +" format is not supported");
            }
            var reader = new FileReader();
            $(reader).on("load", function() {
                $preview.append($("<img/>", {src:this.result, height:100}));
            });
            reader.readAsDataURL(file);
        }
    }
    $('#id_image').on("change", previewImages);
</script>
<style>span.select2-selection.select2-selection--single {height: 30px;}</style>
{% endblock%}