{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
<span class="text-uppercase page-subtitle">Project Task</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        {% if request.user.groups.all.0.name == "Project Manager"%}
            <li class="breadcrumb-item">
                <a href="{% url 'rework_create'%}">Rework</a>
            </li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">
        Rework List
        </li>
    </ol>
</nav> 
<div class="col-md-12 mx-auto">
    {% for message in messages %}
        <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
            {% if message.level_tag  == "success" %}
                <strong>Success! </strong>
            {% else %}
                <strong>Error! </strong>
            {% endif %}
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>
<div class="card">
    <div class="card-body">
    <h4 class="card-title">List of Rework</h4>
        <div class="table-responsive">
            <div class="row">
                <div class="col-12">
                    <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="order-listing" class="table dataTable no-footer" role="grid" aria-describedby="order-listing_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                                aria-label="Project: activate to sort column ascending" style="width: 100px;">
                                                Project Site
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                                aria-label="Client: activate to sort column ascending" style="width: 71px;">
                                                Subject
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                                aria-label="Project Manager: activate to sort column ascending" style="width: 51px;">
                                                Date
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                                aria-label="Person In-Charge: activate to sort column ascending" style="width: 73px;">
                                                Prepared By
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 53px;">
                                                Actions
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in data%}
                                        <tr role="row" class="odd">
                                            <td>{{i.projectsite}}</td>
                                            <td>{{i.subject}}</td>
                                            <td>{{i.date}}</td>
                                            <td>{{i.pm}}</td>
                                            <td><a href="{% url 'rework_detail' i.id %}" class="btn btn-outline-primary">View</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
