{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
{% load humanize %}
<span class="text-uppercase page-subtitle">Material</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        <li class="breadcrumb-item">
            <a href="{% url 'rework_create'%}">Rework Form</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'rework_list'%}">Rework List</a>
        </li>
    </ol>
</nav> 
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-10">
            <div class="card-header" id="quotation_view">
                <h2 class="mb-0">Rework</h2>
            </div>
            <div class="card-body">
                <div class="row"> 
                    <div class = "col-md-8">
                        <h6 class="sub">Project Site: <span class="txt">{{data.projectsite}}</span></h6>
                    </div>
                    <div class="col-md-4 ">
                        <h6 class="sub">Date Created: <span class="txt">{{data.date}}</span></h6>
                    </div>
                    <div class = "col-md-8">
                        <h6 class="sub">Prepared by: <span class="txt">{{data.pm}}</span></h6>
                    </div>
                    <div class="col-md-4">
                        <h6 class="sub">Send to: <span class="txt">{{data.pic}}</span></h6>
                        
                    </div>
                    <div class="col-10 mx-auto">
                        <h6>Instruction:</h6>
                        <textarea name="instruction" cols="40" rows="10" class="textarea form-control" required="" id="id_instruction" readonly>{{data.instruction}}</textarea>
                    </div>
                </div>
            </div>
            
            <div class="btn-grp">
                <form action="{% url 'rework_delete' data.id%}">
                    <button type="submit" class="btn btn-outline-danger edit-delete-btn">Delete</button>
                </form>
                <form action="{% url 'rework_update' data.id%}">
                    <button type="submit" class="btn btn-outline-primary edit-delete-btn">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}