{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}

<span class="text-uppercase page-subtitle">Project Task</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        <li class="breadcrumb-item">
            <a href="{% url 'joborder_create'%}">Job Order</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'joborder_list'%}">Job Order List</a>
        </li>
    </ol>
</nav>   
<form action="" method="POST" id="">
    {% csrf_token%}
    <div class="card card-form">
        <div class="card-header" id="card_header_content">
            <h3 style="text-align: center;">Job Order Form</h3>
        </div>
        <div class="card-body">
            <form action="" method="POST" id="">
                {% csrf_token%}
                <div class="col-lg-12">
                    <div class="row justify-content-center">
                        <div class="form-group col-md-12">
                            {{form.projectsite|as_crispy_field}} 
                        </div>
                        <div class="form-group col-md-6">
                            {{form.date|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-6">
                            {{form.duration|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-4">
                            
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th style="min-width: 250px;">Personnel</th>
                            <th style="min-width: 350px;">Activity</th>
                            <th class="text-center" style="min-width: 150px;" colspan="2">Duration</th>
                            <th>Delete</th>
                        </thead>
                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                        <tr class="formset_row">
                            <td>{{form.personnel}}</td>
                            <td>{{form.activity}}</td>
                            <td>
                                <label>From</label>
                                {{form.date}}
                                <small class="form-text text-muted">Format: yyyy-mm-dd</small>
                            </td>
                            <td>
                                <label>To</label>
                                {{form.date2}}
                                <small class="form-text text-muted">Format: yyyy-mm-dd</small>
                            </td>
                            <td>{{form.DELETE}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <br>
                <div class="row mt-3">
                    <div class="form-group col-md-6">
                        {{form.pic|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-6">
                        {{form.whm|as_crispy_field}}
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary" style="float:right">Submit</button>
            </form>
        </div>
    </div>
</form>

{% endblock %}
{%block javascript%}
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'Add',
        deleteText: 'Remove',
        prefix: '{{ formset.prefix }}'
    });

    $('.personnel').select2()
    $('#id_projectsite').select2()
    $('#id_pic').select2()
    $('#id_whm').select2()

    $('.add-row').click(function(){
        $(".dateinput").datepicker({
            format:'yyyy-mm-dd',
        });
    })
</script>
<style>span.select2-selection.select2-selection--single {height: 30px;}</style>
{% endblock %}