{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
{% load humanize %}
<span class="text-uppercase page-subtitle">Materials</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        {% if request.user.groups.all.0.name == "Warehouseman"%}
        <li class="breadcrumb-item">
            <a href="{% url 'requisition_create'%}">Requisition Form</a>
        </li>
        {% endif %}
        <li class="breadcrumb-item">
            {% if request.user.groups.all.0.name == "Project Manager"%}
                <a href="{% url 'requisition_list_pm'%}">Requisition List</a>
            {% elif request.user.groups.all.0.name == "Person In-Charge"%}
                <a href="{% url 'requisition_list_pic'%}">Requisition List</a>
            {% elif request.user.groups.all.0.name == "Warehouseman"%}
                <a href="{% url 'requisition_list_whm'%}">Requisition List</a>
            {% else %}
                <a href="{% url 'requisition_list'%}">Requisition List</a>
            {% endif %}
        </li>
    </ol>
</nav>
<div class="col-md-12 mx-auto">
    {% for message in messages %}
        <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
            {% if message.level_tag  == "success" %}
                <strong>Success! </strong>
            {% else %}
                <strong>Error! </strong>
            {% endif %}
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-12">
            <div class="card">
                <div class="card-header" id="quotation_view">
                    <h3 class="text-center">Requisition</h3>
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row"> 
                            <div class = "col-md-8">
                                <h6 class="sub">Project: <span class="txt">{{data.project}}</span></h6>
                            </div>
                            <div class="col-md-4 ">
                                <h6 class="sub">Date Created: <span class="txt">{{data.date|date:"F d, Y"}}</span></h6>
                            </div>
                            <div class="col-md-8">
                                <h6 class="sub">Prepared by: <span class="txt">{{data.whm}}</span></h6>
                            </div>
                            <div class="col-md-4">
                                <h6 class="sub">Status: <span class="txt">{{data.status}}</span></h6>
                            </div>
                            <div class="col-md-12">
                                <p>Requisition no. {{data.requisition_no}}</p>
                            </div>
                        </div>
                        <div class="table-responsive-lg col-lg-12">
                            <table class="table">
                                <thead class="thead" id="head_tbl">
                                    <tr>
                                        <th class="text-center">Articles</th>
                                        <th class="text-center">Delivered Quantity</th>
                                        <th class="text-center">Action <span class="asteriskField">*</span></th>
                                        <th class="text-center">Quantity Receive</th>
                                    </tr>
                                </thead>
                                    <tbody>
                                        {{ formset.management_form }}
                                        {% for i in formset.forms %}
                                            <tr>
                                                {{i.id}}
                                                <td>{{i.instance.articles}}</td>
                                                <td class="text-center qty">{{i.instance.quantity}}</td>
                                                <td class="text-center">{{i.status2}}</td>
                                                <td class="text-center qty2_valid">
                                                    {{i.quantity2}}
                                                    <small class="text-center qty_valid" style="color:red"></small>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group mt-4">
                                <p class="font-weight-bold">Image (receipt/ materials)<p>
                                <div class="custom-file">
                                    {{form.image}}
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                                <div id="preview"></div>
                            </div>
                        </div>
                        <button type="button" id="sbmt-modal" class="btn btn-outline-primary btn-rounded" style="float:right" data-toggle="modal" data-target="#exampleModal-2">Submit</button>
                            <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="exampleModalLabel-2">Confirmation</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to submit this form?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-outline-primary" >Submit</button>
                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    function previewImages() {  
        var $preview = $('#preview').empty();
        if (this.files) $.each(this.files, readAndPreview);
        function readAndPreview(i, file) {
            if (!/\.(jpe?g|png|gif)$/i.test(file.name)){
                return alert(file.name +" is not an image");
            }
            var reader = new FileReader();
            $(reader).on("load", function() {
                $preview.append($("<img/>", {src:this.result, height:100}));
            });
            reader.readAsDataURL(file);
        }
    };
    $('.qty2').prop('readonly', true);
    $('#id_image').on("change", previewImages);
    $('.status2').change(function(){
        var status2 = $(this).val()
        var quantity_receive = $(this).closest('tr').find('.qty2')
        if(status2 == "Incomplete"){
            $(this).closest('tr').find('.qty2').prop('readonly', false);
        }
        else if(status2 =="Complete" || status2=="Not Received"){
            $(this).closest('tr').find('.qty2').val(0);
            $(this).closest('tr').find('.qty2').prop('readonly', true);
            $(this).closest('tr').find('.qty2').css('border-color', '');
            $(this).closest('tr').find('.qty_valid').empty();
        }
    });
    
    $('.qty2').change(function(){
        var quantity = parseFloat($(this).closest('tr').find('.qty').text());
        var quantity2 = parseFloat($(this).val());
        var x = $(this);
        if(quantity <= quantity2){
            x.css('border-color', 'red');
            $(this).closest('td').find('.qty_valid').text("Invalid Input");
            $(this).prop('readonly', false)
        }
        else{
            x.css('border-color', '');
            $(this).closest('td').find('.qty_valid').empty();
        }
    });

    $('form').bind('submit', function () {
        $(this).find(':submit').attr('disabled','disabled');
    });
</script>
{% endblock %}