{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% crispy formset helper %}
{% block content %}
<span class="text-uppercase page-subtitle">Materials</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        <li class="breadcrumb-item active" aria-current="page">
            Requisition Form
        </li>
        <li class="breadcrumb-item">
            {% if request.user.groups.all.0.name == "Project Manager"%}
                <a href="{% url 'requisition_list_pm'%}">Requisition List</a>
            {% elif request.user.groups.all.0.name == "Person In-Charge"%}
                <a href="{% url 'requisition_list_pic'%}">Requisition List</a>
            {% elif request.user.groups.all.0.name == "Warehouseman"%}
                <a href="{% url 'requisition_list_whm'%}">Requisition List</a>
            {% else %}
                <a href="{% url 'requisition_list'%}">Requisition List</a>
            {% endif %}
        </li>
    </ol>
</nav>
<div class="col-md-12 mx-auto">
    {% for message in messages %}
        <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
            {% if message.level_tag  == "success" %}
                <strong>Success! </strong>
            {% else %}
                <strong>Error! </strong>
            {% endif %}
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div> 
<form action="" method="POST">
    {% csrf_token%}   
    <div class="card card-form">
        <div class="card-header" id="card_header_content">
            <h3 class="text-center">Requisition Form</h3>
        </div>
        <div class="card-body">
            <div class="col-lg-12">
                <div class="row">
                    <div class="form-group col-md-8">
                        {{form.project|as_crispy_field}} 
                    </div>
                    <div class="form-group col-md-4">
                        {{form.date|as_crispy_field}}
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th style="width: 550px; min-width:200px;">Articles <span class="asteriskField">*</span></th>
                        <th style="min-width: 100px;">Unit</th>
                        <th style="min-width: 100px;">Quantity <span class="asteriskField">*</span></th>
                        <th>Delete</th>
                    </thead>
                    {{ formset.management_form }}
                    {% for i in formset.forms %}
                    <tr class="formset_row">
                        <td>{{i.articles}}</td>
                        <td>
                            <div class="form-group">
                                <label for=""></label>
                                <input type="text" name="requisitiondetail-0-unit" id="id_requisitiondetail-0-unit" class="form-control unit" readonly>
                            </div>
                        </td>
                        <td>{{i.quantity}}</td>
                        <td>{{i.delete}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <br>
            <div class="row">
                <div class="form-group col-md-8"></div>
                <div class="form-group col-md-4">
                    {{form.whm|as_crispy_field}}
                </div>
            </div>
            <button type="button" id="sbmt-modal" class="btn btn-outline-primary btn-rounded" style="float:right" data-toggle="modal" data-target="#exampleModal-2">Submit</button>
            <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2" style="display: none;" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel-2">Confirmation</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to submit this form?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-primary" >Submit</button>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{%block javascript%}
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'Add',
        deleteText: 'Remove',
        prefix: '{{ formset.prefix }}'
    });
    $('#id_project').select2();
    $('#id_whm').prop('disabled', true);
    $('#id_date').prop('disabled', true);
    $('form').bind('submit', function () {
        $(this).find('#id_whm').prop('disabled', false);
        $(this).find('#id_date').prop('disabled', false);
        $(this).find(':submit').attr('disabled','disabled');
    });
///////////////////////////////////////////////////////////////////////////
    loadstart();
///////////////////////////////////////////////////////////////////////////
    function loadstart(){
        var url = "{% url 'inventory_api' 123%}"
        $('.art').select2();

        $('.art').change(function(){
            var article = $(this).val()
            var next_td = $(this).closest('tr').find('.unit')
            if(article != ""){
                $.ajax({
                    method: 'GET',
                    url:url.replace(123,article),
                    success:function(data){
                        var unit = data[0].unit
                        next_td.val(unit)
                    }
                }); 
            }
        });
        
    };
///////////////////////////////////////////////////////////////////////////
    $('.add-row').click(function(){
        loadstart();
    })
</script>
<style>span.select2-selection.select2-selection--single {height: 30px;}</style>
{%endblock%}