{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
{% load humanize %}
<span class="text-uppercase page-subtitle">Materials</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        <li class="breadcrumb-item">
            <a href="{% url 'requisition_create'%}">Requisition Form</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'requisition_list'%}">Requisition List</a>
        </li>
    </ol>
</nav>
<div class="col-md-12 mx-auto">
    {% for message in messages %}
        <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
            {% if message.level_tag  == "success" %}
                <strong>Success! </strong>
            {% else %}
                <strong>Error! </strong>
            {% endif %}
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-10">
            <div class="card">
                <div class="card-header" id="quotation_view">
                    <h2 class="mb-0">Requisition</h2>
                </div>
                <div class="card-body">
                    <div class="row"> 
                        <div class = "col-md-8">
                            <h6 class="sub">Project Site: <span class="txt">{{data.projectsite}}</span></h6>
                        </div>
                        <div class="col-md-4 ">
                            <h6 class="sub">Date Created: <span class="txt">{{data.date}}</span></h6>
                        </div>
                        <div class="col-md-4">
                            <h6 class="sub">Prepared by: <span class="txt">{{data.whm}}</span></h6>
                        </div>
                    </div>
                    <div class="table-responsive-lg col-lg-12">
                        <table class="table">
                            <thead class="thead" id="head_tbl">
                                <tr>
                                    <th class="text-center">Articles</th>
                                    <th class="text-center">Unit</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in data2 %}
                                <tr>
                                    <td>{{i.articles}}</td>
                                    <td class="text-center">{{i.articles.unit}}</td>
                                    <td class="text-center">{{i.quantity}}</td>
                                    {% if i.status == "To be Delivered"%}
                                        <td class="text-center"><label class="badge badge-primary">{{i.status}}</label></td>
                                    {% elif i.status == "Completed"%}
                                        <td class="text-center"><label class="badge badge-success">{{i.status}}</label></td>
                                    {% else %}
                                        <td class="text-center"><label class="badge badge-warning">{{i.status}}</label></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="btn-grp mb-5">
                    {% if request.user.groups.all.0.name == "Admin"%}
                        <a href="{% url 'requisition_delete' data.id%}" class="btn btn-outline-danger float-right mr-5">Delete</a>
                        {% if data.status == "To be Delivered" %}
                            <a href="{% url 'requisition_action' data.id%}" class="btn btn-outline-primary float-right mr-3">Update Request</a>
                        {% elif data.status == "Pending" %}
                            <a href="{% url 'requisition_action' data.id%}" class="btn btn-outline-success float-right mr-3">Comply Request</a>
                        {% endif%}
                    {% else %}
                        {% if data.status == "Pending" %}
                            <a href="{% url 'requisition_delete' data.id%}" class="btn btn-outline-danger float-right mr-5">Delete</a>
                            <a href="{% url 'requisition_update' data.id%}" class="btn btn-outline-primary float-right mr-3">Edit</a>
                        {% elif data.status == "To be Delivered" %}
                            <a href="{% url 'requisition_action_whm' data.id%}" class="btn btn-outline-primary float-right mr-5">Update Delivery</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}