{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
{% load humanize %}
<span class="text-uppercase page-subtitle">Materials</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        {% if request.user.groups.all.0.name == "Warehouseman"%}
        <li class="breadcrumb-item">
            <a href="{% url 'requisition_create'%}">Requisition Form</a>
        </li>
        {% endif %}
        <li class="breadcrumb-item">
            {% if request.user.groups.all.0.name == "Project Manager"%}
                <a href="{% url 'requisition_list_pm'%}">Requisition List</a>
            {% elif request.user.groups.all.0.name == "Person In-Charge"%}
                <a href="{% url 'requisition_list_pic'%}">Requisition List</a>
            {% elif request.user.groups.all.0.name == "Warehouseman"%}
                <a href="{% url 'requisition_list_whm'%}">Requisition List</a>
            {% else %}
                <a href="{% url 'requisition_list'%}">Requisition List</a>
            {% endif %}
        </li>
    </ol>
</nav>
<div class="col-md-12 mx-auto">
    {% for message in messages %}
        <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
            {% if message.level_tag  == "success" %}
                <strong>Success! </strong>
            {% else %}
                <strong>Error! </strong>
            {% endif %}
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 mx-auto">
            <div class="card">
                <div class="card-header" id="quotation_view">
                    <h3 class="text-center">Requisition</h3>
                </div>
                <div class="col-lg-11 mx-auto mt-5">
                    <div class="row"> 
                        <div class = "col-md-8">
                            <h6 class="sub">Project: <span class="txt">{{data.project}}</span></h6>
                        </div>
                        <div class="col-md-4 ">
                            <h6 class="sub">Date Created: <span class="txt">{{data.date|date:"F d, Y"}}</span></h6>
                        </div>
                        <div class="col-md-8">
                            <h6 class="sub">Prepared by: <span class="txt">{{data.whm}}</span></h6>
                        </div>
                        <div class="col-md-4">
                            <h6 class="sub">Status: <span class="txt">{{data.status}}</span></h6>
                        </div>
                        <div class="col-md-12">
                            <h6 class="sub">Requisition no: <span class="txt">{{data.requisition_no}}</span></h6>
                        </div>
                    </div>
                    <div class="accordion basic-accordion" id="accordion" role="tablist">
                        <div class="card">
                            <div class="card-header border-0" role="tab" id="headingOne">
                                <h6>
                                <a data-toggle="collapse" href="#requisitiondelivery" aria-expanded="false" aria-controls="collapseOne" class="collapsed req_accordion">
                                    <i class="card-icon mdi mdi-clipboard-outline"></i>Requisition Order</a>
                                </h6>
                            </div>
                            <div id="requisitiondelivery" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="thead" id="head_tbl">
                                                <tr>
                                                    <th class="text-center">Articles</th>
                                                    <th class="text-center">Unit</th>
                                                    <th class="text-center">Quantity</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in data2 %}
                                                <tr>
                                                    <td>{{i.articles}}</td>
                                                    <td class="text-center">{{i.articles.unit}}</td>
                                                    <td class="text-center">{{i.quantity}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header border-0" role="tab" id="headingOne">
                                <h6>
                                <a data-toggle="collapse" href="#requisitionorder" aria-expanded="false" aria-controls="collapseOne" class="collapsed req_accordion">
                                    <i class="card-icon mdi mdi-clipboard-check"></i>Requisition Delivery</a>
                                </h6>
                            </div>
                            <div class="card-body">
                                <div id="requisitionorder" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="thead">
                                                    <tr>
                                                        <th class="text-center" >Articles</th>
                                                        <th class="text-center" style="width: 150px!important;">Status</th>
                                                        <th class="text-center">Remarks</th>
                                                        <th style="width: 150px">Delivered Quantity</th>
                                                        {% if request.user.groups.all.0.name != "Warehouseman"%}
                                                            {% if data.amount %}
                                                                <th style="width: 150px">Unit Price</th>
                                                                <th style="width: 150px">Total Price</th>
                                                            {% endif %}
                                                        {% endif %}
                                                        <th style="width: 150px">Received Quantity</th>
                                                    </tr>
                                                </thead>
                                                    <tbody>
                                                        {% for i in data4 %}
                                                            <tr>
                                                                <td>{{i.articles}}</td>
                                                                {% if i.status2 %}
                                                                    {% if i.status2 == "Complete"%}
                                                                    <td class="text-center" style="width: 150px;">
                                                                        <label class="badge badge-primary">{{i.status2}}</label>
                                                                    </td>
                                                                    {% elif i.status2 == "Incomplete"%}
                                                                    <td class="text-center" style="width: 150px;">
                                                                        <label class="badge badge-danger">{{i.status2}}</label>
                                                                    </td>
                                                                    {% elif i.status2 == "Not Received" %}
                                                                    <td class="text-center" style="width: 150px;">
                                                                        <label class="badge badge-danger">{{i.status2}}</label>
                                                                    </td>
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if i.status == "To be delivered"%}
                                                                        <td class="text-center" style="width: 150px;"><label class="badge badge-primary">{{i.status}}</label></td>
                                                                    {% elif i.status == "Canceled"%}
                                                                        <td class="text-center" style="width: 150px;"><label class="badge badge-warning">{{i.status}}</label></td>
                                                                    {% endif %}

                                                                {% endif %}
                                                                <td class="text-center">{{i.remarks}}</td>
                                                                {% if data.amount %}
                                                                    <td class="text-center">{{i.quantity}}</td>
                                                                    {% if request.user.groups.all.0.name != "Warehouseman"%}
                                                                        <td class="text-center">{{i.articles.unit_price|intcomma}}</td>
                                                                        <td class="text-center">{{i.total_price|intcomma}}</td>
                                                                    {% endif %}
                                                                {% else %}
                                                                    <td class="text-center">N/A</td>
                                                                {% endif %}
                                                                {% if i.quantity2 %}
                                                                    <td class="text-center">{{i.quantity2}}</td>
                                                                {% else %}
                                                                    <td class="text-center">N/A</td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                        {% if request.user.groups.all.0.name != "Warehouseman"%}
                                                            {% if data.amount%}
                                                            <tr>
                                                                <td colspan="4"></td>
                                                                <td class="text-center font-weight-bold">Grand Total Price</td>
                                                                <td class="text-center font-weight-bold">{{data.amount|intcomma}}</td>
                                                            </tr>
                                                            {% endif %}
                                                        {% endif %}
                                                    </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if data3 %}
                        <div class="card">
                            <div class="card-header border-0" role="tab" id="headingOne">
                                <h6>
                                <a data-toggle="collapse" href="#requisitionimage" aria-expanded="false" aria-controls="collapseOne" class="collapsed req_accordion">
                                    <i class="mdi mdi-receipt"></i>Image (Delivery Receipt/ Materials)</a>
                                </h6>
                            </div>
                            <div class="card-body">
                                <div id="requisitionimage" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    {% for i in data3 %}
                                        <img src="{{i.image.url}}" class="img-fluid rounded mx-auto d-block mb-3" alt="Responsive image">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                
                <div class="btn-grp mb-5">
                    {% if request.user.groups.all.0.name == "Admin"%}
                        <a href="{% url 'requisition_delete' data.id%}" class="btn btn-outline-danger float-right mb-3 mr-3">Delete</a>
                        {% if data.status == "Pending" %}
                            <a href="{% url 'requisition_action' data.id%}" class="btn btn-outline-primary float-right mr-3">Comply Request</a>
                        {% endif%}
                    {% elif request.user.groups.all.0.name == "Person In-Charge"%}
                        <a href="{% url 'requisition_update_pic' data.id%}" class="btn btn-outline-primary float-right mr-3">Update Requisition Number</a>
                    {% else %}
                        {% if request.user.groups.all.0.name == "Warehouseman"%}
                            {% if data.status == "Pending" %}
                                <a href="{% url 'requisition_delete' data.id%}" class="btn btn-outline-danger float-right mb-3 mr-5">Delete</a>
                                <a href="{% url 'requisition_update' data.id%}" class="btn btn-outline-primary float-right mr-3">Edit</a>
                            {% elif data.status == "To be Delivered" %}
                                <a href="{% url 'requisition_action_whm' data.id%}" class="btn btn-outline-primary float-right mr-5">Update Delivery</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}