.navbar.default-layout .navbar-brand-wrapper .navbar-brand img {
    height: 60px;
    width: 100px;
}
.navbar.default-layout .navbar-brand-wrapper .brand-logo-mini img {
    height: 50px;
    width: 70px;
    padding: 5px;
}
.sidebar{
    background-color: white;
}
.navbar.default-layout .navbar-menu-wrapper {
    background-color: rgba(38,108,170,1);
}

.navbar.default-layout {
    background: rgba(38,108,170,1);
}
#foottxt{
    text-align: right;
}
.footer a{
    color:rgba(38,108,170,1);
}
#account{
    position: absolute;
    bottom:0;   
    margin:auto;
    visibility: hidden;
    
}

.card-title {
    font-weight: bolder;
    color: #404852;
    font-size: 20px;
}
.sidebar .nav .nav-item .nav-link .menu-title {
    font-size: 17px;
}
.sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper .profile-name {
    font-weight: bold;
    font-size: 15px;
}
.icn{
    padding-right: 19px;
}
#footer{
    padding:1px 1px;
}
@media only screen and (max-width: 991px){
    #account{
        width: 100%;
        visibility: visible;
    }
    label.btn-add-responsive{
        display: none;
    }
    li#notif-menu{
        visibility: visible;
    }
}
label.btn-add-responsive{
    margin-bottom: 0;
}
ul#usernav{
    visibility: hidden!important;
}
@media only screen and (min-width: 992px){
    ul#usernav {
       visibility: visible!important;
    }
}
#bt-account{
    padding: 0 4.2rem 0 4.2rem;
    width: 260px;
}
.form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .tt-hint, .tt-query, .typeahead {
    border: 1px solid lightgray;    
    padding-top:0;
    padding-bottom:0;
    height: 2rem;
}
span.menu-title{
    color:black;
}
i.menu-con, a.nav-link:hover{
    font-weight: bolder;
    color:black;
}
@media (min-width: 992px){
    .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:hover {
        text-align: left;
        color: black;
        font-weight: bold;
    }
}
.wizard > .content {
    min-height: 35em;
}
.content-wrapper {
    background: #f5f6f8;
    padding: 1rem 1rem;
}
.footer{
    padding:5px;
    border-top: none;
}
.wizard > .content > .body input {
    display: block;
    border: 1px solid lightgray;
}
.page-header.row.no-gutters.py-4 {
    padding-top: 0px!important;
    padding-bottom: 0px !important;
}
.card .card-header {
    background: #ffffff;
    padding: 10px 10px 10px 10px;
    color: white;
    background-color: rgba(38,108,170,1);
    text-align: center;
}
#pf {
    padding-top: 20px;
}
.card > .list-group:last-child .list-group-item:last-child {
    border-top: 0;
}
.border-bottom {
    border-bottom: 0;
}
a {
    word-wrap: break-all;
}
input#id_image {
    margin-left: 10%;
}
span.profile-text {
    color: white;
}
li#navdrpdwn {
    margin-left: 0;
}
div#newprojectform {
    padding: 2rem;
}
select.custom-select.custom-select-sm.form-control {
    width: 50px;
}
input:focus{
    border-color:whitesmoke;
}
.select2-container--open .select2-dropdown--above {
    border: 1px solid gray;
}
.select2-container--open .select2-dropdown--below {
    border: 1px solid gray;
}
#headingOne, div#headingTwo, div#headingThree, div#headingOverview{
    background-color: rgba(38,108,170,1);
    color:white;
}
.btn-cardheader{
    color:white;
}
.btn-cardheader:hover, .btn-cardheader:active{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
ul{
    padding-left: 0;
    margin-top: 1rem;
    list-style-type:none;
}
li.projectdetails, li.quotation{
    font-weight: 800;
}
li.projectdetails h5, li.quotation h5{
    color:gray;
    font-weight: normal;
}
table.table-borderless td{
    text-align: center;
}
table.table-borderless th{
    font-weight: bold;
}
.table-bordered th, .table-bordered td {
    border: 1px solid lightgray !important;
}
/* #quotation_view{
    color: white;
    background-color: rgba(38,108,170,1);
    text-align: center;
} */

#head_tbl{
    border-top: 1px solid lightgray;
    border-bottom: 2px solid lightgray;
}
span.txt{
    font-weight: bold;
}
#card_header_content{
    background-color: rgba(38,108,170,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:white;
}
.edit-delete-btn{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}
a.dropdown-item{
    font-size: 1rem;
}
.dropdown-item{
    text-align: center!important;
}
a.dropdown-item:hover{
    background-color:#428bca;
}
a#btn-signout{
    border-color:white;
    text-align: center!important;
}
#btn-signout:hover{
    color: #fff;
    background-color: #dc3545;
}

@media only screen and (max-width:420px) {
    .select2 {
        width:200px !important;
    }
}
@media (max-width: 991px){
    .navbar.default-layout .navbar-menu-wrapper {
        width: 245px!important;
    }
}
.navbar.default-layout {
    height: 62px!important;
}

.navbar-menu-wrapper.d-flex.align-items-center {
    height: 61px;
}
#card_completed, #card_ongoing, #card_pending{
    border-radius: 0px;
}
#changepassword_body{
    background-color: white;
    border-radius: 10px;
}

.sidebar .nav.sub-menu {
    background-color: white;
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link {
    background: #428bca;
    color: white;
}
.sidebar .nav .nav-item .nav-link[aria-expanded="true"] {
    background: white;
}
.card.card-form {
    border-radius: 10px;
}
.form-group {
    margin-bottom: .5rem!important;
}
.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item {
    margin-left: .5rem;
    margin-right: .5rem;
}
img#dp {
    margin-bottom: 5px;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    color: white;
    background-color: gray;
    border-color: #e6eef2;
}

.btn-outline-secondary:hover {
    color: white!important;
    background-color: gray;
    border-color: #e6eef2;
}
.btn.btn-outline-secondary, .ajax-upload-dragdrop .btn-outline-secondary.ajax-file-upload, .swal2-modal .swal2-buttonswrapper .btn-outline-secondary.swal2-styled, .wizard > .actions a.btn-outline-secondary {
    color: black;
}
.select2 {
    width:100%!important;
}
a.btn.btn-outline-success:hover {
    color: white;
}
a.btn.btn-outline-success{
    color: #19d895;
}
span.asteriskField {
    color: red;
}
img#design_img {
    width: 100%;
}
button.btn.btn-link.btn-cardheader.report {
    font-size: 20px;
    font-weight: bold;
}
.carousel-inner {
    height: 500px;
    background-size: cover;
    background-position: center center;
}
div#divcar {
    box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);
    padding: 0;
}
img.rounded.table-img {
    height: auto;
    width: auto;
}
.div-tbl-img {
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
}
h3.text-center.font-weight-bold.table-title {
    margin-bottom: 30px;
    border: solid 1px lightgray;
}
td{
    min-width: 150px;
}
.form-modal-content{
    background-color: white!important;
    border:none;
}
.form-modal-header{
    background-color:rgba(38,108,170,1);
    color:white;
    text-align: center;
}

.modal .modal-dialog .modal-content .form-modal-header .close span {
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.card .card-list{
    border-bottom: 0!important;
}

.accordion.basic-accordion .card .card-header a[aria-expanded="true"] {
    background: #fbfbfb;
    color: black;
}
.accordion .card .card-header a {
    display: block;
    padding: 0.75rem 1.70rem 0.75rem 1.25rem;
    color: white;
}
.preview-list .preview-item .preview-item-content {
    padding-left: 0!important;
}
a.dropdown-item.notif-item.border-bottom:hover{
    background-color: white;
}
a.dropdown-item.preview-item.border-top:hover{
    color:white;
    background-color: #428bca;
}
p.float-right.timestamp {
    font-size: 10px;
}
a.mark-read {
    font-size: 13px;
}
.mx-auto.p-3 {
    width: 400px;
}
.preview-item-content.col-12 {
    text-align: right;
}
@media (max-width: 991px){
    .nav .nav-item.dropdown .navbar-dropdown, .navbar-nav .nav-item.dropdown .navbar-dropdown {
        right: -150px;
        width: 320px;
    }
    .mx-auto.p-3 {
        width: 320px;
    }
}
a.dropdown-item.preview-item.border-top {
    white-space: pre-wrap;
}
.dropdown-menu.dropdown-menu-right.navbar-dropdown.preview-list.pb-0.overflow-auto.show {
    height: 450px;
    overflow-y: scroll;
    border: 2px solid darkgray;
}