{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
<span class="text-uppercase page-subtitle">Personnel</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        <li class="breadcrumb-item active" aria-current="page">
        Personnel Form
        </li>
    </ol>
</nav> 
<div class="col-md-12 mx-auto">
    {% for message in messages %}
        <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
            {% if message.level_tag  == "success" %}
                <strong>Success! </strong>
            {% else %}
                <strong>Error! </strong>
            {% endif %}
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>  
<div class="row">
    <div class="col-md-4 mb-5">
        <div class="card card-form">
            <div class="card-header" id="card_header_content">
                <h3 style="text-align: center;">Personnel Form</h3>
            </div>
            <div class=card-boy>
                <div class="col-md-12">
                    <form action="" method="POST">
                        {% csrf_token%}
                        <div class="row justify-content-center">
                            <div class="form-group col-md-8 mt-5" style="min-width: 200px;">
                                {{form.first_name|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-8" style="min-width: 200px;">
                                {{form.middle_name|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-8" style="min-width: 200px;">
                                {{form.last_name|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-8" style="min-width: 200px;">
                                {{form.suffix|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-8" style="min-width: 200px;">
                                {{form.sex|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-8" style="min-width: 200px;">
                                {{form.contact|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-8" style="min-width: 200px;">
                                {{form.personnel_type|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-8" style="min-width: 200px;">
                                {{form.skill|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-8" style="min-width: 200px;">
                                {{form.address|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-8" style="min-width: 200px;">
                                {{form.province|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-8" style="min-width: 200px;">
                                {{form.city|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-8 ">
                                <button type="submit" class="btn btn-outline-primary btn-rounded mb-5 float-right">Submit</button>
                            </div>
                            
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
            <h4 class="card-title">List of Personnel</h4>
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-12">
                            <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="order-listing" class="table dataTable no-footer" role="grid" aria-describedby="order-listing_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                                        aria-label="Client: activate to sort column ascending" style="width: 50px;">
                                                        Full Name
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                                        aria-label="Status: activate to sort column ascending" style="width: 50px;">
                                                        Type of Personnel
                                                    </th>
                                                    <th class="sorting text-center" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                                        ria-label="Actions: activate to sort column ascending" style="width: 50px;">
                                                        Skill
                                                    </th>
                                                    <th class="sorting text-center" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                                        ria-label="Actions: activate to sort column ascending" style="width: 50px;">
                                                        Status
                                                    </th>
                                                    <th class="sorting text-center" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                                        ria-label="Actions: activate to sort column ascending" style="width: 50px;">
                                                        Project Site
                                                    </th>
                                                    <th class="sorting text-center" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                                        ria-label="Actions: activate to sort column ascending" style="width: 50px;">
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in data%}
                                                <tr role="row" class="odd">
                                                    <td>{{i.full_name}}</td>
                                                    <td>{{i.personnel_type}}</td>
                                                    <td>"{{i.skill.all|join:'", "'}}"</td>
                                                    {% if i.status == "Currently Assigned" %}
                                                        <td class="text-center"><label class="badge badge-warning">{{i.status}}</label></td>
                                                        <td class="text-center">{{i.projectsite}}</td>
                                                        {% elif i.status == "Available"%}
                                                        <td class="text-center"><label class="badge badge-primary">{{i.status}}</label></td>
                                                        <td class="text-center">N/A</td>
                                                    {% endif %}
                                                    <td class="text-center"><a class="btn btn-outline-primary" href="{% url 'personnel_detail' i.id %}">View</a></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript%}
<script>
    $('#id_skill').select2();
    $('#id_personnel_type').select2();
</script>
<script src="{% static 'assets/js/custom/province-city.js'%}"></script>
<style>
    span.select2-selection.select2-selection--single {height: 35px;}
    span.select2-selection.select2-selection--multiple {height: 120px;}
</style>

{% endblock %}