{% extends 'client/client-base.html'%}
{% load static %}
{% block content %}

<div class="container-fluid" id="my_project">
    <div class="card-header">
        <h2 class="mb-0">My Projects</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive-xl">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Project Manager</th>
                        <th>Person In-Charge</th>
                        <th>Date Started</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{i.projectsite}}</td>
                        <td>{{i.pm}}</td>
                        <td>{{i.pic}}</td>
                        <td>{{i.startdate}}</td>
                        <td>
                            <h5><label class="badge badge-info">{{i.status}}</label></h>
                        </td>
                        <td>
                            <form action="{% url 'client_view_project' i.id%}">
                                <button class="btn btn-outline-primary view-btn">View</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock%}