{% extends 'client/client-base.html'%}
{% load static %}
{% block content %}

<div class="container-fluid" id="my_project">
    
    <div class="col-md-10 mx-auto">
        
        <div class="card">
            <div class="card-header">
                <h2 class="mb-0">
                    <form action="javascript:history.back()">
                        <button type="submit" class="btn btn-primary btn-back-responsive float-left">
                            <svg class="bi bi-arrow-left-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"></path>
                              </svg>
                        </button>
                    </form>
                    Site Photos
                </h2>
            </div>
            <div class="card-body">
                <div class="row"> 
                    <div class = "col-md-7">
                        <h6 class="sub">Project Site: <span class="txt">{{data.projectsite}}</span></h6>
                    </div>
                    <div class="col-md-5">
                        <h6 class="sub float-right">Date Created: <span class="txt">{{data.date}}</span></h6>
                    </div>
                    <div class="col-md-10 mt-5 mx-auto">
                        {% for i in data2 %}
                            <img src="{{i.image.url}}" class="img-fluid rounded mx-auto d-block mb-3" alt="Responsive image">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
{% endblock %}

{% block javascript %}
{% endblock%}