{% extends 'client/client-base.html'%}
{% load crispy_forms_tags%}
{% load static %}
{% load humanize %}
{% block content %}

<div class="col-lg-6 mx-auto my-auto" id="change_password">
    <div class="card">
        <div class="card-header" id="quotation_view">
            <h3 class="mb-0">Change Password</h3>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-outline-primary float_right">Change Password</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}