{% extends 'client/client-base.html'%}
{% load static %}
{% block content %}

<div class="container-fluid" id="my_project">
    <div class="col-md-10 mx-auto">
        <div class="card">
            <div class="card-header">
                <h2 class="mb-0">Site Photos</h2>
            </div>
            <div class="card-body">
                <div class="row"> 
                    <div class = "col-md-7">
                        <h6 class="sub">Project Site: <span class="txt">{{data.projectsite}}</span></h6>
                    </div>
                    <div class="col-md-5">
                        <h6 class="sub float-right">Date Created: <span class="txt">{{data.date}}</span></h6>
                    </div>
                    <div class="col-md-10 mt-5 mx-auto">
                        {% for i in data2 %}
                        <img src="{{i.image.url}}" class="img-fluid rounded mx-auto d-block mb-3" alt="Responsive image">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
{% endblock %}

{% block javascript %}
{% endblock%}