{% extends 'client/client-base.html'%}
{% load crispy_forms_tags%}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-8">
            <div class="card mb-5">
                <div class="card-header">
                    <h2 class="mb-0">
                        <form action="javascript:history.back()">
                            <button type="submit" class="btn btn-primary btn-back-responsive float-left">
                                <svg class="bi bi-arrow-left-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z"></path>
                                  </svg>
                            </button>
                        </form>
                        Quotation
                    </h2>
                </div>
                <div class="card-body">
                <form action="" method="post">
                    {%csrf_token%}
                    <div class="row"> 
                        <div class = "col-md-8">
                            <h6 class="sub">Project: <span class="boldtxt">{{data.project}}</span></h6>
                        </div>
                        <div class="col-md-4 ml-auto">
                            <h6 class="sub">Date: <span class="boldtxt">{{data.date}}</span></h6>
                        </div>
                        <div class = "col-md-8">
                            <h6 class="sub">Subject: <span class="boldtxt">{{data.subject}}</span></h6>
                        </div>
                        <div class="col-md-4 ml-auto">
                            <h6 class="sub">Status: <span class="boldtxt">{{data.status}}</span></h6>
                        </div>
                    </div>
                    <div class="table-responsive-lg">
                        <table class="table">
                            <thead class="thead" id="head_tbl">
                                <tr>
                                    <th>Scope of Work</th>
                                    <th style="width: 100px;">Unit</th>
                                    <th style="width: 100px;">Quantity</th>
                                    <th style="width: 100px;">Unit Cost</th>
                                    <th class="text-center" style="width: 100px;">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in data2 %}
                                <tr>
                                    <td scope="row">{{i.scope_of_work.scope}}</td>
                                    <td>{{i.unit}}</td>
                                    <td class="quantity">{{i.quantity}}</td>
                                    <td scope="row">{{i.scope_of_work.get_cost|intcomma}}</td>
                                    <td class="money text-right">{{i.q_amount|intcomma}}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                {% if data.is_vat %}
                                <tr class="table-success font-weight-bold">
                                    <td class="text-center" colspan="4"><span class="txt" >GRAND TOTAL (VAT EXCLUSIVE)</span></td>
                                    <td class="money text-right"><span class="txt">{{data.amount|intcomma}}</span></td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td class="text-center"><span class="txt" >12% VAT</span></td>
                                    <td class="money text-right"><span class="txt">{{data.get_vat|intcomma}}</span></td>
                                </tr>
                                <tr class="table-primary font-weight-bold">
                                    <td class="text-center" colspan="4"><span class="txt" >GRAND TOTAL (VAT INCLUSIVE)</span></td>
                                    <td class="money text-right "><span class="txt">{{data.get_grandtotal|intcomma}}</span></td>
                                </tr>
                                {% else %}
                                <tr class="table-success font-weight-bold">
                                    <td class="text-center" colspan="4"><span class="txt" >GRAND TOTAL (VAT EXCLUSIVE)</span></td>
                                    <td class="money text-right"><span class="txt">{{data.amount|intcomma}}</span></td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td class="text-center"><span class="txt" >12% VAT</span></td>
                                    <td class="money text-right"><span class="txt">0</span></td>
                                </tr>
                                <tr class="table-primary font-weight-bold">
                                    <td class="text-center" colspan="4"><span class="txt" >GRAND TOTAL</span></td>
                                    <td class="money text-right "><span class="txt">{{data.amount|intcomma}}</span></td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    {% if data.status == "Pending"%}
                    <button type="button" class="btn btn-outline-primary quo-btn" data-toggle="modal" data-target="#acceptmodal">Accept</button>
                    <div class="modal fade" id="acceptmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="ptxt">Are you sure you want to accept it?</p> 
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" value="Accepted" class="btn btn-outline-primary" name="status" id="status_accept">Accept</button>
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-danger quo-btn" data-toggle="modal" data-target="#rejectmodal">Reject</button>
                    <div class="modal fade" id="rejectmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="ptxt">Are you sure you want to reject it?</p> 
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" value="Rejected" class="btn btn-outline-danger" name="status" id="status_accept">Reject</button>
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
    
                </form>
                </div>
            </div>
            
        </div>
        
    </div>
    
</div>
{% endblock %}