{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
{% load humanize %}
<span class="text-uppercase page-subtitle">Project</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        <li class="breadcrumb-item">
            <a href="{% url 'estimate_list'%}">Estimate List</a>
        </li>
    </ol>
</nav> 
<div class="col-md-12 mx-auto">
    {% for message in messages %}
        <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
            {% if message.level_tag  == "success" %}
                <strong>Success! </strong>
            {% else %}
                <strong>Error! </strong>
            {% endif %}
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-10">
            <div class="card">
                <div class="card-header" id="quotation_view">
                    <h3 class="text-center">Estimate</h3>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-lg-11">
                            <h6 class="font-weight-bold">Status:
                                {% if data.status == False%}
                                <label class="badge badge-warning">Unread</label>
                                {% else %}
                                <label class="badge badge-primary">Read</label>
                                {% endif %}
                            </h6>
                            <h4 class="font-weight-bold">Personal Informations: </h4>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="">Name: </label>
                                <input type="text" class="form-control" readonly value="{{data.name}}">
                            </div>
                            <div class="form-group">
                                <label for="">Email: </label>
                                <input type="text" class="form-control" readonly value="{{data.email}}">
                            </div>
                            <div class="form-group">
                                <label for="">Contact Number: </label>
                                <input type="text" class="form-control" readonly value="{{data.phone}}">
                            </div>
                            <div class="form-group">
                                <label for="">Best time to call: </label>
                                <input type="text" class="form-control" readonly value="{{data.call_time}}">
                            </div>
                        </div>
                        <div class="col-lg-11">
                            <h4 class="font-weight-bold" >Property Informations: </h4>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="">Location</label>
                                <input type="text" class="form-control" readonly value="{{data.address}}">
                            </div>
                            <div class="form-group">
                                <label for="">City</label>
                                <input type="text" class="form-control" readonly value="{{data.city}}">
                            </div>
                            <div class="form-group">
                                <label for="">Province</label>
                                <input type="text" class="form-control" readonly value="{{data.province}}">
                            </div>
                            <div class="form-group">
                                <label for="">Lot Area</label>
                                <input type="text" class="form-control" readonly value="{{data.lotarea}}">
                            </div>
                        </div>
                        <div class="col-lg-11">
                            <h4 class="font-weight-bold">Image/ Design/ Reference</h4>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                {% for i in data2 %}
                                    <img src="{{i.image.url}}" class="img-fluid rounded mx-auto d-block mb-3" alt="Responsive image">
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-11">
                            <h4 class="font-weight-bold">Other Informations: </h4>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label for="">Lot Area: </label>
                                <input type="text" class="form-control" readonly value="{{data.lotarea}}">
                            </div>
                            <div class="form-group">
                                <label for="">Estimated Date Start: </label>
                                <input type="text" class="form-control" readonly value="{{data.date_start}}">
                            </div>
                            <div class="form-group">
                                <label for="">Estimated Budget(php): </label>
                                <input type="text" class="form-control" readonly value="{{data.budget}}">
                            </div>
                            <div class="form-group">
                                Message:
                                <textarea class="form-control" cols="50" rows="10" style="resize: none;" readonly>{{data.message}}</textarea>
                                <form action="" method="post">
                                    {% csrf_token%}
                                    {% if data.status == False %}
                                        <button type="submit" name="status" value="read" class="btn btn-outline-primary float-right mt-3">Mark as Read</button>
                                    {% elif data.status == True %}
                                        <button type="submit" name="status" value="unread" class="btn btn-outline-secondary float-right mt-3">Mark as Unread</button>
                                    {% endif %}
                                </form>
                                <a href="{% url 'estimate_delete' data.id %}" class="btn btn-outline-danger float-right mt-3 mr-3">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}