{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
<span class="text-uppercase page-subtitle">Project</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        <li class="breadcrumb-item active" aria-current="page">
        Inquiry List
        </li>
    </ol>
</nav>
<div class="col-md-12 mx-auto">
    {% for message in messages %}
        <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
            {% if message.level_tag  == "success" %}
                <strong>Success! </strong>
            {% else %}
                <strong>Error! </strong>
            {% endif %}
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>
<div class="card ">
    <div class="card-body">
    <h4 class="card-title">Inquiry List</h4>
        <div class="table-responsive">
            <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer col-lg-12">
                <table id="order-listing" class="table dataTable no-footer" role="grid" aria-describedby="order-listing_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                style="width: 100px;">
                                Date Created
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                style="width: 73px;">
                                Name
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                style="width: 71px;">
                                Phone
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                style="width: 51px;">
                                Email
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="order-listing" style="width: 50px;">
                                Status
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                            style="width: 53px;">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data%}
                            {% if i.status == False %}
                            <tr role="row" class="odd">
                                <td><strong>{{i.date_created|date:"F d, Y"}}</strong></td>
                                <td><strong>{{i.name}}</strong></td>
                                <td><strong>{{i.phone}}</strong></td>
                                <td><strong>{{i.email}}</strong></td>
                                <td><label class="badge badge-warning">Unread</label></td>
                                <td><a href="{% url 'inquiry_detail' i.id%}" class="btn btn-outline-primary">View</a></td>
                            </tr>
                            {% else %}
                            <tr>
                                <td>{{i.date_created}}</td>
                                <td>{{i.name}}</td>
                                <td>{{i.phone}}</td>
                                <td>{{i.email}}</td>
                                <td><label class="badge badge-primary">Read</label></td>
                                <td><a href="{% url 'inquiry_detail' i.id%}" class="btn btn-outline-primary">View</a></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
