{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% load humanize %}
{% block content %}
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Project</span>
        <h3 class="page-title">View Project</h3>
    </div>
</div>
<div class="col-md-12 mx-auto">
    {% for message in messages %}
        <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
            {% if message.level_tag  == "success" %}
                <strong>Success! </strong>
            {% else %}
                <strong>Error! </strong>
            {% endif %}
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>
<section>
    <div class="row">
        <div class="accordion col col-md-5" id="accordionExample">
            {% if request.user.groups.all.0.name == "Admin" or request.user.groups.all.0.name == "Project Manager"%}
            <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                <button class="btn btn-link collapsed btn-cardheader" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                QUOTATION
                </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                <th>Subject</th>
                                <th>Date</th>
                                <th>Total Amount</th>
                                <th>Status</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                        <tbody>
                            {% if data2 %}
                            {% for i in data2 %}
                            <tr>
                                <td>{{i.subject}}</td>
                                <td>{{i.date}}</td>
                                <td>{{i.amount}}</td>
                                {% if i.status == "Rejected"%}
                                    <td><span class="badge badge-danger">{{i.status}}</span></td>
                                {% elif i.status == "Pending"%}
                                    <td><span class="badge badge-primary">{{i.status}}</span></td>
                                {% else %}
                                    <td><span class="badge badge-success">{{i.status}}</span></td>
                                {% endif %}
                                <td><a href="{% url 'quotation_detail' i.id%}" class="btn btn-outline-primary view-btn">View</a></td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="5">
                                    <p class="text-center">No Data Available</p><br>
                                    <a href="{% url 'quotation_create'%}">Create Quotation</a>
                                </td>
                            </tr>
                            {% endif%}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
            {% endif %}
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                    <button class="btn btn-link btn-cardheader" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    PROJECT DETAILS</button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="ul-projectdetails">
                            <li class="projectdetails">Client:<h5>{{data.client}}</h5></li>
                            <li class="projectdetails">Project Manager:<h5>{{data.pm}}</h5></li>
                            <li class="projectdetails">Person In-Charge: <h5>{{data.pic}}</h5></li>
                            <li class="projectdetails">Project Type: <h5>{{data.typeofproject}}</h5></li>
                            <li class="projectdetails">Lot Area: <h5>{{data.lotarea}}</h5></li>
                            <li class="projectdetails">Address: <h5>{{data.address}}</h5> </li>
                            <li class="projectdetails">City: <h5>{{data.city}}</h5> </li>
                            <li class="projectdetails">Province: <h5>{{data.province}}</h5> </li>
                            {% if request.user.groups.all.0.name == "Admin" or request.user.groups.all.0.name == "Project Manager"%}
                                <a class="btn btn-outline-primary float-right ml-3" href="{% url 'project_update' data.id%}">Edit Project Details</a></td>
                            {% endif %}
                            <br>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed  btn-cardheader" type="button" data-toggle="collapse" data-target="#personnel" aria-expanded="false" aria-controls="collapseThree">
                        Workers</button>
                    </h2>
                </div>
                <div id="personnel" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed  btn-cardheader" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Reports</button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-md-7 ">
            <div class="card mb-4">
                <div class="card-header" id="headingOverview">
                    <h3>Overview</h3> 
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th>Project Start Date</th>
                                        <th>Project End Date</th>
                                        <th>Maintenance Period End Date</th>
                                        <th>Project Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{data.startdate}}</td>
                                        <td>{{data.comdate}}</td>
                                        <td>{{data.mpd}}</td>
                                        {% if data.status == "Pending"%}
                                        <td><span class="badge badge-warning">{{data.status}}</span></td>
                                        {% elif data.status == "On-going"%}
                                        <td><span class="badge badge-primary">{{data.status}}</span></td>
                                        {% else %}
                                        <td><span class="badge badge-success">{{data.status}}</span></td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="headingOverview">
                <h3>Work Details
                    {% if request.user.groups.all.0.name == "Admin" or request.user.groups.all.0.name == "Project Manager"%}
                        {% if data3 %}
                            <a href="{% url 'progress_update' data3.id %}"style="float:right; color:white;"title="Edit Project Progress"><i class="fa fa-edit"></i></a>
                        {% endif %}
                    {% endif %}
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    {% if data3 %}
                    <div class="mx-auto d-flex align-items-center ">
                        <div class="forth circle " data-value="{{data3.total_progress}}">
                            <strong></strong>
                        </div>
                        <h3>Project Progress</h3>
                    </div>
                    {% endif %}
                    <div class="col-md-12 table-responsive">
                        <table class="table table-bordered table-responsive-xl" id="table_progress">
                            <thead>
                                <tr>
                                    <th>Scope of Work</th>
                                    <th>Level</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if data4 %}
                                {% for i in data4 %}
                                    <tr>
                                        <td>{{i.scope_of_work}}</td>
                                        {% if i.level == 1 %}
                                            <td>Low</td>
                                        {% elif i.level == 3 %}
                                            <td>Medium</td>
                                        {% else %}
                                            <td>High</td>
                                        {% endif%}
                                        {% if i.status == "Pending"%}
                                            <td><span class="badge badge-warning">{{i.status}}</span></td>
                                        {% elif i.status == "On-going"%}
                                            <td><span class="badge badge-primary">{{i.status}}</span></td>
                                        {% else %}
                                            <td><span class="badge badge-success">{{i.status}}</span></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="3"><p class="text-center">No data available</p></td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript%}
<link rel="stylesheet" href="{% static 'assets/css/circularprogress.css'%}">
<script src="https://rawgit.com/kottenator/jquery-circle-progress/1.2.2/dist/circle-progress.js"></script>
<script src="{% static 'assets/js/custom/circularprogress.js'%}"></script>
{% endblock %}