{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token%}
    <div class="col-lg-8"style="margin: auto;">
        <div class="card" >
            <div class="card-header" id="card_header_content">
                <h3 style="text-align: center;">Edit Project</h3>
            </div>
            <div class=card-boy>
                <div id="newprojectform">
                    <div class="row justify-content-center">
                        <div class="form-group col-md-10">
                            <h4 class="font-weight-bold">Project Staffs:</h4>
                        </div>
                        <div class="form-group col-md-8">
                            <div id="div_id_pm" class="form-group">
                                <label for="id_pm">Project Manager</label>
                                <input type="text" value="{{form.instance.pm}}" class="form-control" id="id_pm" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-8">
                            <div id="div_id_client" class="form-group">
                                <label for="id_client">Client</label>
                                <input type="text" value="{{form.instance.client}}" class="form-control" id="id_pm" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-8">
                            {{form.pic|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-8">
                            {{form.whm|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-10">
                            <h4 class="font-weight-bold">Project Details:</h4>
                        </div>
                        <div class="form-group col-md-8">
                            {{form.projectsite|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-8">
                            {{form.typeofproject|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-8">
                            {{form.lotarea|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-8">
                            <label for="">Blueprint </label>
                            <div class="custom-file">
                                {{form.design}}
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <img id="design_img" src="#" alt="your image" />
                        </div>
                        <div class="form-group col-md-8">
                            {{form.address|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-8">
                            {{form.province|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-8">
                            {{form.city|as_crispy_field}}
                        </div>
                        
                        <div class="form-group col-md-8">
                            {{form.startdate|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-8">
                            {{form.comdate|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-8">
                            {{form.mpd|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-8">
                            <button type="button" id="sbmt-modal" class="btn btn-outline-primary btn-rounded" style="float:right" data-toggle="modal" data-target="#exampleModal-2">Update</button>
                            <a type="button" class="btn btn-outline-secondary float-right btn-rounded mr-2" href="{% url 'project_detail' data.id%}">Cancel</a>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel-2">Confirmation</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to update this form?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-outline-primary" >Submit</button>
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block javascript%}
<script src="{% static 'assets/js/custom/province-city_update.js'%}"></script>
<script>
    $('#id_pic').select2();
    $('#id_whm').select2();
    $('#design_img').hide();

    var reader = new FileReader();
    reader.onload = function (e) {
        $('#design_img').show();
        $('#design_img').attr('src', e.target.result);
    }
   function readURL(input) {
        if (input.files && input.files[0]) {
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#id_design").change(function(){
        readURL(this);
    });
</script>
<style>span.select2-selection.select2-selection--single {height: 30px;}</style>
{% endblock %}