{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
{% load humanize %}
<span class="text-uppercase page-subtitle">Materials</span>
<div class="col-md-12 mx-auto">
    {% for message in messages %}
        <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
            {% if message.level_tag  == "success" %}
                <strong>Success! </strong>
            {% else %}
                <strong>Error! </strong>
            {% endif %}
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-md-12 mb-5">
        <div class="card card-form">
            <div class="card-header" id="card_header_content">
                <h3 class="text-center">Project Daily Report</h3>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body mb-5">
                    <form action="" method="post">
                        {% csrf_token%}
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{form.project|as_crispy_field}} 
                                </div>
                                <div class="form-group col-md-6">
                                    {{form.date|as_crispy_field}}
                                </div>
                                <div class="form-group col-md-6" style="float:right">
                                    {{form.whm|as_crispy_field}}
                                </div>
                            </div>
                            <table id="tbl_quotation" class="table table-responsive-sm">
                                <thead>
                                    <th style="min-width: 250px;">Articles<span class="asteriskField">*</span></th>
                                    <th style="min-width: 100px;">Quantity<span class="asteriskField">*</span></th>
                                    <th style="min-width: 100px;">Remarks</th>
                                    <th>Delete</th>
                                </thead>
                                {{ formset.management_form }}
                                {% for i in formset.forms %}
                                <tr class="formset_row">
                                    <td>{{i.articles}}</td>
                                    <td>{{i.quantity}}</td>
                                    <td>{{i.remarks}}</td>
                                    <td>{{i.DELETE}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <button type="button" id="sbmt-modal" class="btn btn-outline-primary btn-rounded" style="float:right" data-toggle="modal" data-target="#exampleModal-2">Submit</button>
                        <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLabel-2">Confirmation</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to submit?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-outline-primary" >Submit</button>
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header" id="headingTwo">
                <h1 class="mb-0 text-center">
                <button class="btn btn-link btn-cardheader report" type="button" data-toggle="collapse" data-target="#table" aria-expanded="false" aria-controls="collapseTwo">
                Inventory</button>
                </h1>
            </div>
            <div id="table" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body row">
                    <div class="col-md-6">
                        <h5 class="card-title">{{data.project}}</h5>
                    </div>
                    <div class="col-md-6">
                        <h6 class="sub float-right">Last Update: <span class="txt">{{data.last_update}}</span></h6>
                    </div>
                    <div class="col-md-12">
                        <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <table id="order-listing" class="table dataTable no-footer" role="grid" aria-describedby="order-listing_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting text-center" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                            aria-label="Project: activate to sort column ascending" style="width: 75px;">
                                            Articles
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                            aria-label="Client: activate to sort column ascending" style="width: 50px;">
                                            Unit
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" 
                                            aria-label="Person In-Charge: activate to sort column ascending" style="width: 50px;">
                                            Quantity
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in data2 %}
                                    <tr>
                                        <td>{{i.articles}}</td>
                                        <td>{{i.articles.unit}}</td>
                                        {% if i.quantity %}
                                            <td>{{i.quantity}}</td>
                                        {% else %}
                                            <td>0</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>



{% endblock %}
{% block javascript %}
<script>
    $('.formset_row').formset({
        addText: 'Add',
        deleteText: 'Remove',
        prefix: '{{ formset.prefix }}'
    })
    $('.art').select2()
    $('.add-row').click(function(){
        $('.art').select2()
    })
    $('#id_whm').prop('disabled', true);
    $('#id_project').prop('disabled', true);
    $('form').bind('submit', function () {
        $(this).find('#id_whm').prop('disabled', false);
        $(this).find('#id_project').prop('disabled', false);
    });
</script>
<style>span.select2-selection.select2-selection--single {height: 30px;}</style>
{% endblock %}