{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
{% load humanize %}
<span class="text-uppercase page-subtitle">Materials</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        {% if request.user.groups.all.0.name == "Warehouseman"%}
            <li class="breadcrumb-item">
                <a href="{% url 'externalorder_create'%}">External Order Form</a>
            </li>
        {% endif %}
        <li class="breadcrumb-item">
            {% if request.user.groups.all.0.name == "Project Manager"%}
                <a href="{% url 'externalorder_list_pm'%}">External Order List</a>
            {% elif request.user.groups.all.0.name == "Person In-Charge"%}
                <a href="{% url 'externalorder_list_pic'%}">External Order List</a>
            {% elif request.user.groups.all.0.name == "Warehouseman"%}
                <a href="{% url 'externalorder_list_whm'%}">External Order List</a>
            {% else %}
                <a href="{% url 'externalorder_list'%}">External Order List</a>
            {% endif %}
        </li>
    </ol>
</nav> 
<div class="col-md-12 mx-auto">
    {% for message in messages %}
        <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
            {% if message.level_tag  == "success" %}
                <strong>Success! </strong>
            {% else %}
                <strong>Error! </strong>
            {% endif %}
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-10">
            <div class="card">
                <div class="card-header" id="quotation_view">
                    <h3 class="text-center">External Order</h3>
                </div>
                <div class="card-body">
                    <div class="row"> 
                        <div class = "col-md-8">
                            <h6 class="sub">Project: <span class="txt">{{data.project}}</span></h6>
                        </div>
                        <div class="col-md-4 ml-auto">
                            <h6 class="sub">Date Created: <span class="txt">{{data.date}}</span></h6>
                        </div>
                        <div class = "col-md-8">
                            <h6 class="sub">Prepared by: <span class="txt">{{data.whm}}</span></h6>
                        </div>
                    </div>
                    <div class="table-responsive-lg col-lg-12">
                        <table class="table">
                            <thead class="thead" id="head_tbl">
                                <tr>
                                    <th class="text-center">Articles</th>
                                    <th class="text-center">Unit</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Unit Price</th>
                                    <th class="text-center">Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in data2 %}
                                <tr>
                                    <td class="text-center">{{i.articles}}</td>
                                    <td class="text-center">{{i.unit}}</td>
                                    <td class="text-center">{{i.quantity}}</td>
                                    <td class="text-center">{{i.unitprice|intcomma}}</td>
                                    <td class="text-right">{{i.get_total|intcomma}}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="3"></td>
                                    <td class="text-center"><strong>Total Amount: </strong></td>
                                    <td class="text-right">{{data.amount|intcomma}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-center">
                    {% if data.image %}
                        <img src="{{data.image.url}}"  style="width:50%; height:50%;">
                    {% endif %}
                </div>
                <div class="btn-grp mb-5">
                    {% if request.user.groups.all.0.name == "Admin"%}
                        <a href="{% url 'externalorder_delete' data.id%}" class="btn btn-outline-danger float-right mt-3 mr-4">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}