{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}

<span class="text-uppercase page-subtitle">Materials</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        <li class="breadcrumb-item active" aria-current="page">
        External Order Form
        </li>
        <li class="breadcrumb-item">
            {% if request.user.groups.all.0.name == "Project Manager"%}
                <a href="{% url 'externalorder_list_pm'%}">External Order List</a>
            {% elif request.user.groups.all.0.name == "Person In-Charge"%}
                <a href="{% url 'externalorder_list_pic'%}">External Order List</a>
            {% elif request.user.groups.all.0.name == "Warehouseman"%}
                <a href="{% url 'externalorder_list_whm'%}">External Order List</a>
            {% else %}
                <a href="{% url 'externalorder_list'%}">External Order List</a>
            {% endif %}
        </li>
    </ol>
</nav>  
<div class="col-lg-12 mx-auto">
    {% for message in messages %}
        <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
            {% if message.level_tag  == "success" %}
                <strong>Success! </strong>
            {% else %}
                <strong>Error! </strong>
            {% endif %}
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div> 
<form action="" method="POST" id="" enctype="multipart/form-data">
    {% csrf_token%}
    <div class="card card-form">
        <div class="card-header" id="card_header_content">
            <h3 class="text-center">External Order Form</h3>
        </div>
        <div class="card-body">
            <div class="col-lg-12">
                <div class="row justify-content-center">
                    <div class="form-group col-lg-8">
                        {{form.project|as_crispy_field}} 
                    </div>
                    <div class="form-group col-lg-4">
                        {{form.date|as_crispy_field}}
                    </div>
                    <div class="form-group col-lg-8">
                        {{form.supplier|as_crispy_field}}
                    </div>
                    <div class="form-group col-lg-4">
                        {{form.whm|as_crispy_field}}
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>Article <span class="asteriskField">*</span></th>
                        <th>Unit <span class="asteriskField">*</span></th>
                        <th>Quantity <span class="asteriskField">*</span></th>
                        <th>Unit Price <span class="asteriskField">*</span></th>
                        <th>Remarks</th>
                        <th>Total Price</th>
                        <th>Delete</th>
                    </thead>
                    {{ formset.management_form }}
                    {% for i in formset.forms %}
                    <tr class="formset_row">
                        <td>{{i.articles}}</td>
                        <td>{{i.unit}}</td>
                        <td>{{i.quantity}}</td>
                        <td>{{i.unitprice}}</td>
                        <td>{{i.remarks}}</td>
                        <td>{{i.totalprice}}</td>
                        <td>{{i.delete}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="row col-lg-12">
                <div class="form-group col-lg-4">
                    <label for="">OR Image</label><span class="asteriskField">*</span>
                    <div class="custom-file">
                        {{form.image}}
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <div id="preview"></div>
                </div>
                <div class="form-group col-lg-4"></div>
                <div class="form-group col-lg-4">
                    <div class="form-group">
                      <label for="total_amount">Total Amount</label>
                      <input type="text"
                        class="form-control" name="total_amount" id="total_amount" aria-describedby="helpId" placeholder="" value="0" readonly>
                    </div>
                </div>
            </div>
            <br>
            <button type="button" id="sbmt-modal" class="btn btn-outline-primary btn-rounded" style="float:right" data-toggle="modal" data-target="#exampleModal-2">Submit</button>
            <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2" style="display: none;" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel-2">Confirmation</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to submit this form?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-primary" >Submit</button>
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{%block javascript%}
<script type="text/javascript">
    $('.formset_row').formset({
    addText: 'Add',
    deleteText: 'Remove',
    prefix: '{{ formset.prefix }}'
    });
</script>
<script src="{% static 'assets/js/custom/externalorder.js'%}"></script>
<script>
    $('#id_project').select2()
    $('#id_whm').prop('disabled', true);
    $('#id_date').prop('disabled', true);
    
    $('form').bind('submit', function () {
        $(this).find('#id_whm').prop('disabled', false);
        $(this).find('#id_date').prop('disabled', false); 
        $(this).find(':submit').attr('disabled','disabled');
    });
    
    function previewImages() {  
        var $preview = $('#preview').empty();
        if (this.files) $.each(this.files, readAndPreview);

        function readAndPreview(i, file) {
            if (!/\.(jpe?g|png|gif)$/i.test(file.name)){
                return alert(file.name +" format is not supported");
            }
            var reader = new FileReader();
            $(reader).on("load", function() {
                $preview.append($("<img/>", {src:this.result, height:100}));
            });
            reader.readAsDataURL(file);
        }
    }
    $('#id_image').on("change", previewImages);
</script>
<style>span.select2-selection.select2-selection--single {height: 30px;}</style>
{%endblock%}