{% load static %}
<footer id="footer">
  <div id="feet">
    <div class="pb-5 footer-top">
      <div class="col-md-8 mx-auto">
        <div class="row">
          <div class="col-md-6" >
            <a>
              <img src="{% static 'images-poli/logo-2.png' %}" class="brand-logo" alt="logo"  width="250" height="200" id="logo-footer"></a>
          </div>
          <div class="col-md-6" id="contact"> 
            <div class="row contact-details">
              <div class="col-12 d-flex mb-3">
                <img src="https://img.icons8.com/ultraviolet/80/000000/phone-disconnected.png" width="30" height="30">
                <h5 class="font-weight-normal">416-16-43 / 782-6046 / 275-47-32</h5>
              </div>
              <div class="col-12 d-flex mb-3">
                <img src="https://img.icons8.com/cotton/64/000000/worldwide-location--v2.png" width="30" height="30">
                <h5 class="font-weight-normal">#78E Kaingin Road, Balintawak, Quezon City</h5>
              </div>
              <div class="col-12 d-flex mb-3">
                <img src="https://img.icons8.com/cotton/64/000000/mail-account.png" width="30" height="30">
                <h5 class="font-weight-normal">poliworksinc@gmail.com</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    <div class="row py-4 footer-bottom">
      <div class="col-md-8 mx-auto">
        <div class="container-fluid clearfix">
          <span class="d-block text-center text-sm-left d-sm-inline-block">Copyright © 2020
            <a href="#">Poliworks Inc.</a> All rights reserved.</span>
          </span>
        </div>
      </div>
    </div>
  </footer>