{% load static %}
<footer id="footer">
    <div row id="feet">
        <div class="footer-top">
            <div class="row mx-auto">
                <div class="col-md-6 text-center my-auto">
                    <a><img src="{% static 'images-poli/logo-2.png' %}" class="brand-logo pb-3" alt="logo"  width="250" height="200" id="logo-footer"></a>
                </div>
                <div class="col-md-6 my-auto" id="contact"> 
                    <div class="col-12 d-flex mb-3">
                        <img src="https://img.icons8.com/ultraviolet/80/000000/phone-disconnected.png" width="30" height="30">
                        <h6 class="font-weight-normal">416-16-43 / 782-6046 / 275-47-32</h6>
                    </div>
                    <div class="col-12 d-flex mb-3">
                        <img src="https://img.icons8.com/cotton/64/000000/worldwide-location--v2.png" width="30" height="30">
                        <h6 class="font-weight-normal">#78E Kaingin Road, Balintawak, Quezon City</h6>
                    </div>
                    <div class="col-12 d-flex mb-3">
                        <img src="https://img.icons8.com/cotton/64/000000/mail-account.png" width="30" height="30">
                        <h6 class="font-weight-normal">poliworksinc@gmail.com</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="py-4 footer-bottom">
      <div class="col-md-8 mx-auto">
          <span class="d-block text-center text-sm-left">Copyright © 2020
            <a href="#">Poliworks Inc.</a> All rights reserved.
          </span>
      </div>
    </div>
</footer>