{% extends 'frontend/base.html'%}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
<header class="header">
	<nav class="navbar navbar-expand-lg fixed-top"><a href="index.html" class="navbar-brand"></a>
		<a class="navbar-brand" href="{%url 'home'%}">
			<img src="{% static 'images-poli/logo-poliworks.png' %}" width="70" height="35" class="d-inline-block align-top"
				alt="poliworks-logo">
			Poliworks
		</a>
		<button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
			class="navbar-toggler navbar-toggler-right"><span></span><span></span><span></span></button>
		<div id="navbarSupportedContent" class="collapse navbar-collapse">
			<ul class="navbar-nav ml-auto ">
				<li class="nav-item"><a href="#about-us" class="nav-link link-scroll">About Us</a></li>
				<li class="nav-item"><a href="#services" class="nav-link link-scroll">Services</a></li>
				<li class="nav-item"><a href="#projects" class="nav-link link-scroll">Projects</a></li>
				<li class="nav-item"><a href="{% url 'estimate_create'%}" class="nav-link link-scroll">Estimate</a></li>
				<li class="nav-item"><a href="{% url 'signin' %}" class="nav-link link-scroll">Sign in</a></li>
			</ul>
			<div class="navbar-text"></div>
		</div>
	</nav>
</header>
<section id="hero" class="hero hero-home bg-gray">
	<div class="container">
		<div class="row d-flex">
			<div class="col-lg-6 text order-2 order-lg-1">
				<h1 id="title">We Look Forward To Serving You!</h1>
				<p class="hero-text">
					Poliworks Inc. is a provider of solutions for every client's construction and facilities maintenance
					requirements,
					while also valuing each customer's specific needs and wants for their project.
				</p>
				<a href="#footer" class="btn btn-primary btn-rounded">Contact Us</a>
			</div>
		</div>
	</div>
</section>

<section id="about-us" class="about-us bg-gray">
	<div class="container">
		<h2>About Us</h2> <br><br>
		<span class="navbar-brand" id="bullet">
			<img src="{% static 'images-poli/bullet.png' %}" width="50" height="50" alt="bullet" class="d-inline-block align-top">Who are
			we?
		</span>
		<div class="row">
			<p class="lead col-lg-10">Poliworks Inc. is a private corporation, PCAB licensed contractor, established in
				October 2012.
				The company began serving its customers through simple maintenance and minor facilities repair;
				then it slowly expanded by offering more extensive construction services adding interior repairs, renovation and
				project fit outs.
				Today, Poliworksis now capable to cater more clients.
				Being able to cater several industries; from commercial units, warehouses, medical laboratories and clinics,
				residential condo units and houses.
			</p>
		</div>
		<a href="{%url 'about'%}" class="btn btn-primary btn-rounded">Discover More</a>
	</div>
</section>

<section id="features" class="features">
	<div class="container">
		<div class="row d-flex align-items-center" data-aos="fade-right">
			<div class="text col-lg-6 order-2 order-lg-1">
				<span class="navbar-brand" id="bullet-sm">
					<img src="{% static 'images-poli/bullet.png' %}" width="30" height="30" alt="bullet" class="d-inline-block align-top">Our
					Mission
				</span>
				<p>Our mission is to provide our clients with quiality construction services by consistently improving
					on the result of each project that we do. PoliworksInc. aspires to have its employees to be the best they can
					and engaging in sustainable practices and anticipate the needs of our customer.
				</p>
			</div>
			<div class="image col-lg-6 order-1 order-lg-2"><img src="{% static 'images-poli/mission.webp' %}" alt="..."
					class="img-fluid" width="556" height="448"></div>
		</div>
		<div class="row d-flex align-items-center" data-aos="fade-left">
			<div class="image col-lg-6"><img src="{% static 'images-poli/vision.webp' %}" alt="..." class="img-fluid"
					width="556" height="448"></div>
			<div class="text col-lg-6">
				<span class="navbar-brand" id="bullet-sm">
					<img src="{% static 'images-poli/bullet.png' %}" width="30" height="30" class="d-inline-block align-top" alt="bullet">Our
					Vision
				</span>
				<p>Our vision is to help clients take pleasure in the construction phase of their project, while also offering
					them an affordable solution to their requirements;
					At the same time increasing the value for each employee through innovation, process improvements, constant
					training and product-knowledge expansion; and finally
					to serve and bring honor and glory to Our Lord
				</p>
			</div>
		</div>
	</div>
</section>

<section id="services" class="extra-features bg-primary" data-aos="fade-up" data-aos="fade-up" data-aos-duration="2000">
	<div class="container text-center">
		<header>
			<h2>List of Services Provided</h2>
		</header>
		<div class="grid row">
			<div class="item col-lg-4 col-md-6">
				<img src="https://img.icons8.com/ultraviolet/80/000000/road-worker.png" alt="">
				<h3 class="h3">Construction</h3>
				<ul class="list-unstyled">
					<li>Masonry/Tiling</li>
					<li>Electrical</li>
					<li>Mechanical</li>
					<li>Plumbing</li>
				</ul>
			</div>
			<div class="item col-lg-4 col-md-6">
				<img src="https://img.icons8.com/ultraviolet/80/000000/interior.png" alt="">
				<h3 class="h3">Interior Fit-out Works</h3>
				<ul class="list-unstyled">
					<li>Carpentry</li>
					<li>Painting and Finishing Works</li>
				</ul>
			</div>
			<div class="item col-lg-4 col-md-6">
				<img src="https://img.icons8.com/ultraviolet/80/000000/floor-plan.png" alt="">
				<h3 class="h3">Self-leveling Floor Application</h3>
				<ul class="list-unstyled">
					<li>Industrial</li>
					<li>Commercial</li>
					<li>Residential</li>
					<li>Medical</li>
				</ul>
			</div>
			<div class="row justify-content-around">
				<div class="item col-lg-4 col-md-6">
					<img src="https://img.icons8.com/ultraviolet/80/000000/table.png" alt="">
					<h3 class="h3">Concrete Countertops</h3>
				</div>
				<div class="item col-lg-4 col-md-6">
					<img src="https://img.icons8.com/ultraviolet/80/000000/factory.png" alt="">
					<h3 class="h3">Industrial Cement Flooring Finish</h3>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="projects" class="browser">
	<div class="container-fluid">
		<div class="d-flex justify-content-center">
			<div class="col-lg-6">
				<div data-aos="fade-down-left">
					<div id="carouselMedical" class="carousel slide mt-5 mb-5" data-ride="carousel">
						<h2 id=titleproject>Medical</h2>
						<div class="carousel-inner">
							{% for i in medical%}
							<div {% if forloop.first %} class="carousel-item active" {% else %}class="carousel-item"
								data-interval="20000" {% endif %}>
								<img src="{{i.image.url}}" class="d-block w-100" alt="...">
								<div class="carousel-caption  d-md-block">
									<h3>{{i.title.name}}</h3>
									{% if i.tittle.address %}
									<p>{{i.title.address}}</p>
									{% endif %}
								</div>
							</div>
							{% endfor %}
						</div>
						<a class="carousel-control-prev" href="#carouselMedical" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselMedical" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>

				<div data-aos="fade-down-right">
					<div id="carouselExampleCaptions2" class="carousel slide mt-5 mb-5" data-ride="carousel">
						<h2 id=titleproject>Commercial</h2>
						<div class="carousel-inner">
							{% for i in commercial%}
							<div {% if forloop.first %} class="carousel-item active" {% else %}class="carousel-item"
								data-interval="20000" {% endif %}>
								<img src="{{i.image.url}}" class="d-block w-100" alt="...">
								<div class="carousel-caption  d-md-block">
									<h3>{{i.title.name}}</h3>
									{% if i.tittle.address %}
									<p>{{i.title.address}}</p>
									{% endif %}
								</div>
							</div>
							{% endfor %}
						</div>
						<a class="carousel-control-prev" href="#carouselExampleCaptions2" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleCaptions2" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>

				<div data-aos="fade-down-left">
					<div id="carouselExampleCaptions3" class="carousel slide mt-5 mb-5" data-ride="carousel">
						<h2 id=titleproject>Residential</h2>
						<div class="carousel-inner">
							{% for i in residential%}
							<div {% if forloop.first %} class="carousel-item active" {% else %}class="carousel-item"
								data-interval="20000" {% endif %}>
								<img src="{{i.image.url}}" class="d-block w-100" alt="...">
								<div class="carousel-caption  d-md-block">
									<h3>{{i.title.name}}</h3>
									{% if i.tittle.address %}
									<p>{{i.title.address}}</p>
									{% endif %}
								</div>
							</div>
							{% endfor %}
						</div>
						<a class="carousel-control-prev" href="#carouselExampleCaptions3" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleCaptions3" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>

				<div data-aos="fade-down-right">
					<div id="carouselExampleCaptions4" class="carousel slide mt-5 mb-5" data-ride="carousel">
						<h2 id=titleproject>Office Area</h2>
						<div class="carousel-inner">
							{% for i in office%}
							<div {% if forloop.first %} class="carousel-item active" {% else %}class="carousel-item"
								data-interval="20000" {% endif %}>
								<img src="{{i.image.url}}" class="d-block w-100" alt="...">
								<div class="carousel-caption  d-md-block">
									<h3>{{i.title.name}}</h3>
									{% if i.tittle.address %}
									<p>{{i.title.address}}</p>
									{% endif %}
								</div>
							</div>
							{% endfor %}
							<a class="carousel-control-prev" href="#carouselExampleCaptions4" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleCaptions4" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
{% block javascript %}

{% endblock %}