{% load static %}
<h3>Hi, Welcome to Poliworks Inc</h3>
{% load i18n %}{% autoescape off %}
{% blocktrans %}You may now access your account by logging in on our website {{ site_name }}.{% endblocktrans %}

{% trans "To set a new password to your account, please go to the following page:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans 'Your email, in case you’ve forgotten:' %} {{ user.get_username }}

<p>Please do not reply to this email</p>
{% trans "Thank you for using our site!" %}

{% blocktrans %}{{ site_name }} team{% endblocktrans %}

{% endautoescape %}