{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}

{% block content %}
<span class="text-uppercase page-subtitle">Project</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        <li class="breadcrumb-item active" aria-current="page">
        Quotation Form
        </li>
        {% if request.user.groups.all.0.name == "Admin"%}    
        <li class="breadcrumb-item">
            <a href="{% url 'quotation_list'%}">Quotation List</a>
        </li>
        {% endif %}
    </ol>
</nav>

<form action="" method="POST">
{% csrf_token%}
    <div class="card card-form">
        <div class="card-header" id="card_header_content">
            <h3 style="text-align: center;">Quotation Form</h3>
        </div>
        <div class="card-body">
            <div class="col-lg-12">
                <div class="row justify-content-center">
                    <div class="form-group col-md-8">
                        {{form.projectsite|as_crispy_field}} 
                    </div>
                    <div class="form-group col-md-4">
                        {{form.date|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-8">
                        {{form.subject|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-4">
                        
                    </div>
                </div>
            </div>
            <table id="tbl_quotation" class="table table-responsive-sm">
                <thead>
                    <th style="width:150px;">Scope of Work</th>
                    <th style="min-width: 100px;">Unit</th>
                    <th style="min-width: 100px;">Quantity</th>
                    <th style="min-width: 150px;">Total Cost</th>
                    <th>Delete</th>
                </thead>
                {{ formset.management_form }}
                {% for i in formset.forms %}
                <tr class="formset_row">
                    <td style="width:150px;">{{i.scope_of_work}}</td>
                    <td>{{i.unit}}</td>
                    <td>{{i.quantity}}</td>
                    <td>{{i.tcost}}</td>
                    <td>{{i.delete}}</td>
                </tr>
                {% endfor %}
            </table>
            
            <div class="row">
                <div class="form-group col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="form-group">
                      <label for="total_amount">Total Amount</label>
                      <input type="text"
                        class="form-control" name="total_amount" id="total_amount" aria-describedby="helpId" placeholder="" value="0" readonly>
                    </div>
                </div>
            </div>
            <div class="btn-grp">
                <button type="button" id="sbmt-modal" class="btn btn-outline-primary edit-delete-btn" data-toggle="modal" data-target="#calculate">Submit</button>
                <div class="modal fade" id="calculate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Confirmation</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5 class="txt" >Create Quotation?</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-outline-primary" >Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{%block javascript%}
<script>
    $('.formset_row').formset({
        addText: 'Add',
        deleteText: 'Remove',
        prefix: '{{ formset.prefix }}'
    })
</script>
<script src="{% static 'assets/js/custom/quotation.js'%}"></script>
<script>$('#id_projectsite').select2()</script>
<style>span.select2-selection.select2-selection--single {height: 30px;}</style>
{%endblock%}

