{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %}
{% load humanize %}
<span class="text-uppercase page-subtitle">Project</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        {% if request.user.groups.all.0.name == "Project Manager"%}    
        <li class="breadcrumb-item" aria-current="page">
            <a href="{% url 'quotation_create'%}">Quotation Form</a>
        </li>
        {% endif %}
        <li class="breadcrumb-item">
            <a href="{% url 'quotation_list'%}">Quotation List</a>
        </li>
    </ol>
</nav>

<div class="col-md-12 mx-auto">
    {% for message in messages %}
        <div class="alert alert-{{message.level_tag}} alert-dismissible fade show" role="alert">
            {% if message.level_tag  == "success" %}
                <strong>Success! </strong>
            {% else %}
                <strong>Error! </strong>
            {% endif %}
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-10">
            <div class="card">
                <div class="card-header">
                    <h2>Quotation</h2>
                </div>
                <div class="card-body">
                    <div class="row"> 
                        <div class = "col-md-8">
                            <h6 class="sub">Project Site: <span class="txt">{{data.projectsite}}</span></h6>
                        </div>
                        <div class="col-md-4 ml-auto">
                            <h6 class="sub">Date Created: <span class="txt">{{data.date}}</span></h6>
                        </div>
                        <div class = "col-md-8">
                            <h6 class="sub">Subject: <span class="txt">{{data.subject}}</span></h6>
                        </div>
                        <div class="col-md-4 ml-auto">
                            <h6 class="sub">Status: <span class="txt">{{data.status}}</span></h6>
                        </div>
                    </div>
                    <div class="table-responsive-lg">
                        <table class="table">
                            <thead class="thead" id="head_tbl">
                                <tr>
                                    <th>Scope of Work</th>
                                    <th style="width: 100px;">Unit</th>
                                    <th style="width: 100px;">Quantity</th>
                                    <th style="width: 100px;">Unit Cost</th>
                                    <th class="text-center" style="width: 100px;">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in data2 %}
                                <tr>
                                    <td scope="row">{{i.scope_of_work.scope}}</td>
                                    <td>{{i.unit}}</td>
                                    <td class="quantity">{{i.quantity}}</td>
                                    <td scope="row">{{i.scope_of_work.get_cost|intcomma}}</td>
                                    <td class="money text-right">{{i.q_amount|intcomma}}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                <tr class="table-success font-weight-bold">
                                    <td class="text-center" colspan="4"><span class="txt" >GRAND TOTAL (VAT EXCLUSIVE)</span></td>
                                    <td class="money text-right"><span class="txt">{{data.amount|intcomma}}</span></td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td class="text-center"><span class="txt" >12% VAT</span></td>
                                    <td class="money text-right"><span class="txt">{{data.get_vat|intcomma}}</span></td>
                                </tr>
                                <tr class="table-primary font-weight-bold">
                                    <td class="text-center" colspan="4"><span class="txt" >GRAND TOTAL (VAT INCLUSIVE)</span></td>
                                    <td class="money text-right "><span class="txt">{{data.get_grandtotal|intcomma}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="btn-grp mb-5">
                    <a href="{% url 'quotation_delete' data.id%}" class="btn btn-outline-danger edit-delete-btn mr-4">Delete</a>
                    {% if data.status == "Accepted" %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary edit-delete-btn">Create as Progress</button>
                    </form>
                    {% else %}
                        <a href="{% url 'quotation_update' data.id %}" class="btn btn-outline-primary edit-delete-btn">Edit</a>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}