{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% load humanize %}
{% block content %}
<span class="text-uppercase page-subtitle">Project</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        <li class="breadcrumb-item">
            <a href="{% url 'quotation_create'%}">Quotation Create</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'quotation_list'%}">Quotation List</a>
        </li>
    </ol>
</nav>
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>Success! </strong>{{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>  
{% endfor %}
<form action="" method="POST">
{% csrf_token%}
    <div class="card">
        <div class="card-header" id="card_header_content">
            <h3 style="text-align: center;">Quotation Form</h3>
        </div>
        <div class="card-body">
            <div class="col-lg-12">
                <div class="row justify-content-center">
                    <div class="form-group col-md-8">
                        <label>Project Site:</label>
                        <input type="text" class="form-control" value="{{form.instance.projectsite}}" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Datee:</label>
                        <input type="text" class="form-control" value="{{form.instance.date}}" disabled>
                    </div>
                    <div class="form-group col-md-8">
                        {{form.subject|as_crispy_field}}
                    </div>
                    <div class="form-group col-md-4">
                    </div>
                </div>
            </div>
            <table id="tbl_quotation" class="table table-responsive-sm">
                <thead>
                    <th style="width:150px;">Scope of Work</th>
                    <th style="min-width: 100px;">Unit</th>
                    <th style="min-width: 100px;">Quantity</th>
                    <th>Delete</th>
                </thead>
                {{ formset.management_form }}
                {% for i in formset.forms %}
                {{i.id}}
                <tr class="formset_row">
                    <td style="width:150px;">{{i.scope_of_work}}</td>
                    <td>{{i.unit}}</td>
                    <td>{{i.quantity}}</td>
                    <td>
                        {% if formset.can_delete %}
                            {{ i.DELETE }}
                        {% endif %}
                    </td>
                    
                </tr>
                {% endfor %}
            </table>
            <div class="row">
                <div class="form-group col-md-8">
                </div>
                <div class="form-group col-md-4">
                    <div class="form-group">
                      <label for="total_amount">Total Amount</label>
                      <input type="text"class="form-control" aria-describedby="helpId" placeholder="" value="{{form.instance.amount|intcomma}}" readonly>
                      <small class="form-text text-muted float-right"><i>The total amount will be updated once you submit this form</i> </small>
                    </div>
                </div>
            </div>
            <div class="btn-grp">
                <button type="button" id="sbmt-modal" class="btn btn-outline-primary edit-delete-btn" data-toggle="modal" data-target="#calculate">Submit</button>
                <div class="modal fade" id="calculate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="txt" >Update Quotation?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-outline-primary" >Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{%block javascript%}
<script>
    $('.formset_row').formset({
        addText: 'Add',
        deleteText: 'Remove',
        prefix: '{{ formset.prefix }}'
    });
    $('.sow').select2();
    $('.add-row').click(function(){
        $('.sow').select2();
    })
</script>
<script src="{% static 'assets/js/custom/quotation_update.js'%}"></script>
{%endblock%}