{% extends 'backoffice/index.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% load humanize %}
{% block content %}
<span class="text-uppercase page-subtitle">Project</span>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-inverse-primary">
        <li class="breadcrumb-item" aria-current="page">
            <a href="{% url 'quotation_create'%}">Quotation Form</a>
        </li>
        <li class="breadcrumb-item">
            {% if request.user.groups.all.0.name == "Admin"%}    
                <a href="{% url 'quotation_list'%}">Quotation List</a>
            {% else %}
                <a href="{% url 'quotation_list_pm'%}">Quotation List</a>
            {% endif %}
        </li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header">
                    <h2>Quotation</h2>
                </div>
                <div class="card-body">
                    <div class="row"> 
                        <div class = "col-lg-8">
                            <h6 class="sub">Project: <span class="txt">{{data.project}}</span></h6>
                        </div>
                        <div class="col-lg-4 ml-auto">
                            <h6 class="sub">Date Created: <span class="txt">{{data.date}}</span></h6>
                        </div>
                        <div class = "col-lg-8">
                            <h6 class="sub">Subject: <span class="txt">{{data.subject}}</span></h6>
                        </div>
                        <div class="col-lg-4 ml-auto">
                            <h6 class="sub">Status: <span class="txt">{{data.status}}</span></h6>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead" id="head_tbl">
                                <tr>
                                    <th style="min-width: 250px;">Scope of Work</th>
                                    <th style="min-width: 100px;" class="text-center">Unit</th>
                                    <th style="min-width: 100px;" class="text-center">Quantity</th>
                                    <th style="min-width: 100px;" class="text-center">Unit Cost</th>
                                    <th style="min-width: 100px;" class="text-center">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in data2 %}
                                <tr>
                                    <td scope="row">{{i.scope_of_work}}</td>
                                    <td class="text-center">{{i.unit}}</td>
                                    <td class="text-center">{{i.quantity}}</td>
                                    <td class="text-right">{{i.unit_cost|intcomma}}</td>
                                    <td class="text-right">{{i.amount|intcomma}}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                                {% if data.is_vat %}
                                <tr class="table-success font-weight-bold">
                                    <td class="text-center" colspan="4"><span class="txt" >GRAND TOTAL (VAT EXCLUSIVE)</span></td>
                                    <td class="money text-right"><span class="txt">{{data.total|intcomma}}</span></td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td class="text-center"><span class="txt" >12% VAT</span></td>
                                    <td class="money text-right"><span class="txt">{{data.get_vat|intcomma}}</span></td>
                                </tr>
                                <tr class="table-primary font-weight-bold">
                                    <td class="text-center" colspan="4"><span class="txt" >GRAND TOTAL (VAT INCLUSIVE)</span></td>
                                    <td class="money text-right "><span class="txt">{{data.get_grandtotal|intcomma}}</span></td>
                                </tr>
                                {% else %}
                                <tr class="table-success font-weight-bold">
                                    <td class="text-center" colspan="4"><span class="txt" >GRAND TOTAL (VAT EXCLUSIVE)</span></td>
                                    <td class="money text-right"><span class="txt">{{data.total|intcomma}}</span></td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td class="text-center"><span class="txt" >12% VAT</span></td>
                                    <td class="money text-right"><span class="txt">0</span></td>
                                </tr>
                                <tr class="table-primary font-weight-bold">
                                    <td class="text-center" colspan="4"><span class="txt" >GRAND TOTAL</span></td>
                                    <td class="money text-right "><span class="txt">{{data.total|intcomma}}</span></td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="btn-grp mb-5">
                    <a href="{% url 'quotation_delete' data.id%}" class="btn btn-outline-danger edit-delete-btn mr-4">Delete</a>
                    {% if data.status == "Accepted" %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary edit-delete-btn">Create as Progress</button>
                    </form>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
            </div>
            <div class="modal-body">
                <p class="ptxt">Are you sure you want to delete it?</p> 
            </div>
            <div class="modal-footer">
                <form action="" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger view-btn">Delete</button>
                </form>
                <a href="{% url 'quotation_detail' data.id%}" class="btn btn-outline-secondary" >Close</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script type="text/javascript">
    $('#myModal').modal('show')
</script>
{% endblock %}